<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Flyerly</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.socialflyr.paid</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>oatransdemo</string>
				<string>Flyerly</string>
				<string>fb136691489852349</string>
				<string>fsqapi</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.88</string>
	<key>FacebookAppID</key>
	<string>136691489852349</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>UIAppFonts</key>
	<array>
		<string>HelveticaRoundedLTStd-BdCn_0.otf</string>
		<string>Swiss_721_Black_Extended_BT.ttf</string>
		<string>Anjelika Rose.ttf</string>
		<string>segoeui.ttf</string>
		<string>ITC Avant Garde CE Gothic Book.ttf</string>
		<string>danielbk.ttf</string>
		<string>BlueNoon.ttf</string>
		<string>BankGothic-Regular DB.ttf</string>
		<string>LHANDW.TTF</string>
		<string>Helvetica Inserat Cyrillic Upright.ttf</string>
		<string>ALGER.TTF</string>
		<string>Comfortaa_Bold.ttf</string>
		<string>black_jack.ttf</string>
		<string>StMarie-Thin.otf</string>
		<string>Quicksand_Bold.otf</string>
		<string>Nexa Bold.otf</string>
		<string>Molot.otf</string>
		<string>Kankin.otf</string>
		<string>GrandHotel-Regular.otf</string>
		<string>GoodDog.otf</string>
		<string>Signika-Bold.otf</string>
		<string>Signika-Light.otf</string>
		<string>Signika-Regular.otf</string>
		<string>Signika-Semibold.otf</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
</dict>
</plist>
