<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>All Samples</key>
	<array>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.setDeviceOrientation("1")</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:19:13Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Found anchor for screen 'Home'</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:19:13Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Screenshot of screen 'home' taken with orientation 'Portrait'</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:19:14Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "01_home")</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:19:14Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>01_home</string>
			<key>Screenshot</key>
			<string>ECEF5585-6B10-49F2-BC8B-417B4DEBDA11</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:19:14Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[21].tap()</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:19:14Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Found anchor for screen 'Settings'</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:19:15Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>UIAWindow: rect:{{0, 0}, {320, 480}}</string>
			<key>Screenshot</key>
			<string>FA0A6955-63CF-4964-A602-904BC588CD52</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:19:16Z</date>
			<key>Type</key>
			<integer>0</integer>
			<key>children</key>
			<array>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIANavigationBar: name:MainSettingView rect:{{0, 20}, {320, 44}}</string>
					<key>Screenshot</key>
					<string>1484E83C-FFD2-48EF-8134-C7B15649FE8C</string>
					<key>Timestamp</key>
					<date>2014-04-15T11:19:16Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAImage: rect:{{0, 0}, {320, 64}}</string>
							<key>Screenshot</key>
							<string>0EB1C4DF-B69A-4BDD-829F-192E3AF80D4D</string>
							<key>Timestamp</key>
							<date>2014-04-15T11:19:16Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAImage: rect:{{0, 64}, {320, 0}}</string>
									<key>Screenshot</key>
									<string>DFC8EA87-4DAD-4426-9187-8848835FA1B9</string>
									<key>Timestamp</key>
									<date>2014-04-15T11:19:16Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
							</array>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAButton: name:home button rect:{{16, 21}, {45, 42}}</string>
							<key>Screenshot</key>
							<string>2820A874-CEE4-447F-B5CC-712C0D391C22</string>
							<key>Timestamp</key>
							<date>2014-04-15T11:19:16Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAButton: name:help icon rect:{{69, 21}, {45, 42}}</string>
							<key>Screenshot</key>
							<string>2C0054A6-C4C2-47D9-BC99-59FACA4FCA60</string>
							<key>Timestamp</key>
							<date>2014-04-15T11:19:16Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAStaticText: name:SETTINGS value:SETTINGS rect:{{120, 17}, {87, 50}}</string>
							<key>Screenshot</key>
							<string>ACEF61B2-4B44-4EDF-B5BB-C162AA742318</string>
							<key>Timestamp</key>
							<date>2014-04-15T11:19:16Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAButton: name:Back rect:{{8, 32}, {12, 20}}</string>
							<key>Screenshot</key>
							<string>313852E9-8489-4CFA-AD1D-6963DF6886A6</string>
							<key>Timestamp</key>
							<date>2014-04-15T11:19:16Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
					</array>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIATableView: name:Empty list value:rows 1 to 5 of 5 rect:{{0, 64}, {320, 368}}</string>
					<key>Screenshot</key>
					<string>78C02963-6CA9-4582-9D68-FDDC994BAD4A</string>
					<key>Timestamp</key>
					<date>2014-04-15T11:19:16Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIATableCell: name:Save to Gallery value: rect:{{0, 71}, {320, 40}}</string>
							<key>Screenshot</key>
							<string>5DD6E700-728B-4DB2-8DF6-643927BC35C2</string>
							<key>Timestamp</key>
							<date>2014-04-15T11:19:16Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAStaticText: name:Save to Gallery value: rect:{{0, 71}, {320, 40}}</string>
									<key>Screenshot</key>
									<string>39C138D8-2B1E-401B-A788-6E97AEB1BCDD</string>
									<key>Timestamp</key>
									<date>2014-04-15T11:19:16Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIASwitch: name:Save to Gallery value:1 rect:{{263, 75}, {51, 31}}</string>
									<key>Screenshot</key>
									<string>38C35C85-6CEB-4E85-BDA9-24737FFB3A8C</string>
									<key>Timestamp</key>
									<date>2014-04-15T11:19:16Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
							</array>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIATableCell: name:Flyerly public value: rect:{{0, 111}, {320, 40}}</string>
							<key>Screenshot</key>
							<string>0EA88DA8-1B79-477B-9E95-5F07DB238C56</string>
							<key>Timestamp</key>
							<date>2014-04-15T11:19:16Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAStaticText: name:Flyerly public value: rect:{{0, 111}, {320, 40}}</string>
									<key>Screenshot</key>
									<string>9142FE68-5399-4240-BE64-8237359C613A</string>
									<key>Timestamp</key>
									<date>2014-04-15T11:19:16Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIASwitch: name:Flyerly public value:1 rect:{{263, 115}, {51, 31}}</string>
									<key>Screenshot</key>
									<string>F60F294E-865B-4036-9C5A-AFD64B8C2549</string>
									<key>Timestamp</key>
									<date>2014-04-15T11:19:16Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
							</array>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIATableCell: name:Like us on Facebook value: rect:{{0, 151}, {320, 40}}</string>
							<key>Screenshot</key>
							<string>98343D7F-8105-4471-AF90-D0F2C1CCF118</string>
							<key>Timestamp</key>
							<date>2014-04-15T11:19:16Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAStaticText: name:Like us on Facebook value: rect:{{0, 151}, {320, 40}}</string>
									<key>Screenshot</key>
									<string>6DBBA0AB-9571-444F-91CD-BB592A4F426C</string>
									<key>Timestamp</key>
									<date>2014-04-15T11:19:16Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
							</array>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIATableCell: name:Follow us on Twitter value: rect:{{0, 191}, {320, 40}}</string>
							<key>Screenshot</key>
							<string>C3FC824F-66DE-48DC-B612-96BDFC8396F9</string>
							<key>Timestamp</key>
							<date>2014-04-15T11:19:16Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAStaticText: name:Follow us on Twitter value: rect:{{0, 191}, {320, 40}}</string>
									<key>Screenshot</key>
									<string>7923D49B-A541-487E-9D9D-035AD3618C11</string>
									<key>Timestamp</key>
									<date>2014-04-15T11:19:16Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
							</array>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIATableCell: name:Sign In value: rect:{{0, 231}, {320, 40}}</string>
							<key>Screenshot</key>
							<string>114AA429-2A15-440E-A4C1-C4D7978A09C7</string>
							<key>Timestamp</key>
							<date>2014-04-15T11:19:16Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAStaticText: name:Sign In value: rect:{{0, 231}, {320, 40}}</string>
									<key>Screenshot</key>
									<string>87594A93-1463-429F-9F2E-D019FC229F94</string>
									<key>Timestamp</key>
									<date>2014-04-15T11:19:16Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:SettingsEmail rect:{{0, 433}, {80, 47}}</string>
					<key>Screenshot</key>
					<string>3CE08AEE-BB0A-4E2C-9AC8-0340E4CB66BE</string>
					<key>Timestamp</key>
					<date>2014-04-15T11:19:16Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:AppReview rect:{{80, 433}, {80, 47}}</string>
					<key>Screenshot</key>
					<string>B961B840-9169-4A64-8EA4-6257E537D837</string>
					<key>Timestamp</key>
					<date>2014-04-15T11:19:16Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:Twitter rect:{{160, 433}, {80, 47}}</string>
					<key>Screenshot</key>
					<string>512401B8-8653-4C2F-A991-1862ACCC6C33</string>
					<key>Timestamp</key>
					<date>2014-04-15T11:19:16Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:Help rect:{{240, 433}, {80, 47}}</string>
					<key>Screenshot</key>
					<string>D1B47A40-E14E-4A4E-A060-8F9C7E17E0AE</string>
					<key>Timestamp</key>
					<date>2014-04-15T11:19:16Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAToolbar: rect:{{0, 480}, {320, 44}}</string>
					<key>Timestamp</key>
					<date>2014-04-15T11:19:16Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAImage: rect:{{0, 480}, {320, 0}}</string>
							<key>Screenshot</key>
							<string>6EBF3FBE-4CC4-4E18-A945-F77E75F102AC</string>
							<key>Timestamp</key>
							<date>2014-04-15T11:19:16Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAImage: rect:{{0, 480}, {320, 44}}</string>
							<key>Timestamp</key>
							<date>2014-04-15T11:19:16Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().tableViews()[0].cells()[4].tap()</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:19:16Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Screenshot of screen 'settings' taken with orientation 'Portrait'</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:19:17Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "02_settings")</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:19:17Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>02_settings</string>
			<key>Screenshot</key>
			<string>201DE169-C6CB-4545-B9C2-BEA145C70C0F</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:19:17Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Found anchor for screen 'SignIn'</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:19:17Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[4].tap()</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:19:17Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[4].tap()</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:19:19Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().keyboard().typeString("riksof.yahoo")</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:19:19Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[6].tap()</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:19:21Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().keyboard().typeString("riksof123")</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:19:22Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[7].tap()</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:19:24Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Error</string>
			<key>Message</key>
			<string>Script threw an uncaught JavaScript error: Could not find anchor for screen 'Home' on line 615 of feature.js</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:19:32Z</date>
			<key>Type</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Stopped</string>
			<key>Message</key>
			<string>Script was stopped by the user</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:19:32Z</date>
			<key>Type</key>
			<integer>9</integer>
		</dict>
	</array>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
