<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>All Samples</key>
	<array>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.setDeviceOrientation("1")</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:13:42Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Found anchor for screen 'Home'</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:13:42Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Screenshot of screen 'home' taken with orientation 'Portrait'</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:13:43Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "01_home")</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:13:43Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>01_home</string>
			<key>Screenshot</key>
			<string>2174C5B2-291F-4DE8-A401-2801793430A2</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:13:43Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[21].tap()</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:13:43Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Found anchor for screen 'Settings'</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:13:45Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>UIAWindow: rect:{{0, 0}, {320, 480}}</string>
			<key>Screenshot</key>
			<string>902F567C-9730-4892-988F-ACA473636C98</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:13:45Z</date>
			<key>Type</key>
			<integer>0</integer>
			<key>children</key>
			<array>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIANavigationBar: name:MainSettingView rect:{{0, 20}, {320, 44}}</string>
					<key>Screenshot</key>
					<string>2ABA004D-9E0F-4F49-9F14-3BDF68DCAA08</string>
					<key>Timestamp</key>
					<date>2014-04-15T11:13:45Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAImage: rect:{{0, 0}, {320, 64}}</string>
							<key>Screenshot</key>
							<string>00B7C688-5596-4F4F-B0E3-7DC4F3B11DFD</string>
							<key>Timestamp</key>
							<date>2014-04-15T11:13:45Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAImage: rect:{{0, 64}, {320, 0}}</string>
									<key>Screenshot</key>
									<string>A37A4C69-AF68-4870-B15E-407A464B31FE</string>
									<key>Timestamp</key>
									<date>2014-04-15T11:13:45Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
							</array>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAButton: name:home button rect:{{16, 21}, {45, 42}}</string>
							<key>Screenshot</key>
							<string>A04A82A7-3FD3-4711-AE7A-F874691F6AA2</string>
							<key>Timestamp</key>
							<date>2014-04-15T11:13:45Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAButton: name:help icon rect:{{69, 21}, {45, 42}}</string>
							<key>Screenshot</key>
							<string>D81559B1-D8AE-4646-8F56-F6F578BAFC63</string>
							<key>Timestamp</key>
							<date>2014-04-15T11:13:45Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAStaticText: name:SETTINGS value:SETTINGS rect:{{120, 17}, {87, 50}}</string>
							<key>Screenshot</key>
							<string>E9959883-00C7-43CD-8E2D-3F904219FC87</string>
							<key>Timestamp</key>
							<date>2014-04-15T11:13:45Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAButton: name:Back rect:{{8, 32}, {12, 20}}</string>
							<key>Screenshot</key>
							<string>5F74060C-CBB5-4B4F-B245-4CEF3DAF0DDB</string>
							<key>Timestamp</key>
							<date>2014-04-15T11:13:45Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
					</array>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIATableView: name:Empty list value:rows 1 to 6 of 6 rect:{{0, 64}, {320, 368}}</string>
					<key>Screenshot</key>
					<string>393DA77A-6FC3-48C7-A067-42442D0F8727</string>
					<key>Timestamp</key>
					<date>2014-04-15T11:13:45Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIATableCell: name:Save to Gallery value: rect:{{0, 71}, {320, 40}}</string>
							<key>Screenshot</key>
							<string>7E88682D-1A6E-404B-991F-816D773434D7</string>
							<key>Timestamp</key>
							<date>2014-04-15T11:13:45Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAStaticText: name:Save to Gallery value: rect:{{0, 71}, {320, 40}}</string>
									<key>Screenshot</key>
									<string>05979B90-1D91-4EF0-8C6C-AB2F618D8C52</string>
									<key>Timestamp</key>
									<date>2014-04-15T11:13:45Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIASwitch: name:Save to Gallery value:1 rect:{{263, 75}, {51, 31}}</string>
									<key>Screenshot</key>
									<string>AA9BD5D8-AACD-459E-8070-3CE8AE8CCF13</string>
									<key>Timestamp</key>
									<date>2014-04-15T11:13:45Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
							</array>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIATableCell: name:Flyerly public value: rect:{{0, 111}, {320, 40}}</string>
							<key>Screenshot</key>
							<string>E4FAA13D-E214-4329-AB7F-B54B97B7F582</string>
							<key>Timestamp</key>
							<date>2014-04-15T11:13:45Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAStaticText: name:Flyerly public value: rect:{{0, 111}, {320, 40}}</string>
									<key>Screenshot</key>
									<string>7118DEBA-9320-4365-AD35-577B57BBB4AF</string>
									<key>Timestamp</key>
									<date>2014-04-15T11:13:45Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIASwitch: name:Flyerly public value:1 rect:{{263, 115}, {51, 31}}</string>
									<key>Screenshot</key>
									<string>3884804C-5253-45A8-8499-79C4C60136A7</string>
									<key>Timestamp</key>
									<date>2014-04-15T11:13:45Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
							</array>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIATableCell: name:Account Setting value: rect:{{0, 151}, {320, 40}}</string>
							<key>Screenshot</key>
							<string>BDF764A3-124F-4118-BBAF-B6DC28EE68D9</string>
							<key>Timestamp</key>
							<date>2014-04-15T11:13:45Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAStaticText: name:Account Setting value: rect:{{0, 151}, {320, 40}}</string>
									<key>Screenshot</key>
									<string>1AEA698D-E26F-4B6B-8F15-3012D17442D2</string>
									<key>Timestamp</key>
									<date>2014-04-15T11:13:45Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
							</array>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIATableCell: name:Like us on Facebook value: rect:{{0, 191}, {320, 40}}</string>
							<key>Screenshot</key>
							<string>CA15853F-D8AC-440E-A0E8-31620CB2D22F</string>
							<key>Timestamp</key>
							<date>2014-04-15T11:13:45Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAStaticText: name:Like us on Facebook value: rect:{{0, 191}, {320, 40}}</string>
									<key>Screenshot</key>
									<string>8DDC6244-E04B-4DDA-9AD9-96FC8516EE10</string>
									<key>Timestamp</key>
									<date>2014-04-15T11:13:45Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
							</array>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIATableCell: name:Follow us on Twitter value: rect:{{0, 231}, {320, 40}}</string>
							<key>Screenshot</key>
							<string>3A4C7829-30E3-4912-B4DB-261BA86C4F49</string>
							<key>Timestamp</key>
							<date>2014-04-15T11:13:45Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAStaticText: name:Follow us on Twitter value: rect:{{0, 231}, {320, 40}}</string>
									<key>Screenshot</key>
									<string>8BEBDD68-D261-4F08-83C2-337D0FDEA883</string>
									<key>Timestamp</key>
									<date>2014-04-15T11:13:45Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
							</array>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIATableCell: name:Sign Out value: rect:{{0, 271}, {320, 40}}</string>
							<key>Screenshot</key>
							<string>FE3872F0-2975-4E95-9449-4796948C6CBF</string>
							<key>Timestamp</key>
							<date>2014-04-15T11:13:45Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAStaticText: name:Sign Out value: rect:{{0, 271}, {320, 40}}</string>
									<key>Screenshot</key>
									<string>D1BD84D4-BD55-4478-8FB4-0ED360B0213C</string>
									<key>Timestamp</key>
									<date>2014-04-15T11:13:45Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:SettingsEmail rect:{{0, 433}, {80, 47}}</string>
					<key>Screenshot</key>
					<string>FC0BD03A-FB67-4D87-9BEA-B5973841E890</string>
					<key>Timestamp</key>
					<date>2014-04-15T11:13:45Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:AppReview rect:{{80, 433}, {80, 47}}</string>
					<key>Screenshot</key>
					<string>23410001-DF78-47D9-9F0E-FE8C01967020</string>
					<key>Timestamp</key>
					<date>2014-04-15T11:13:45Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:Twitter rect:{{160, 433}, {80, 47}}</string>
					<key>Screenshot</key>
					<string>44083819-74D4-4B21-85D0-86DF93B1209F</string>
					<key>Timestamp</key>
					<date>2014-04-15T11:13:45Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:Help rect:{{240, 433}, {80, 47}}</string>
					<key>Screenshot</key>
					<string>137CE621-B197-4B58-AEEB-357E3863F8D0</string>
					<key>Timestamp</key>
					<date>2014-04-15T11:13:45Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAToolbar: rect:{{0, 480}, {320, 44}}</string>
					<key>Timestamp</key>
					<date>2014-04-15T11:13:45Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAImage: rect:{{0, 480}, {320, 0}}</string>
							<key>Screenshot</key>
							<string>70DAFC0C-C610-444B-A36B-7D912F0BDE17</string>
							<key>Timestamp</key>
							<date>2014-04-15T11:13:45Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAImage: rect:{{0, 480}, {320, 44}}</string>
							<key>Timestamp</key>
							<date>2014-04-15T11:13:45Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().tableViews()[0].cells()[4].tap()</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:13:45Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Screenshot of screen 'settings' taken with orientation 'Portrait'</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:13:46Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "02_settings")</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:13:46Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>02_settings</string>
			<key>Screenshot</key>
			<string>F9A6D8D3-0260-438A-8501-A9F91DF21375</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:13:46Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Stopped</string>
			<key>Message</key>
			<string>Script was stopped by the user</string>
			<key>Timestamp</key>
			<date>2014-04-15T14:00:01Z</date>
			<key>Type</key>
			<integer>9</integer>
		</dict>
	</array>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
