<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>emoticon1@2x</string>
	<string>emoticon2@2x</string>
	<string>emoticon3@2x</string>
	<string>emoticon4@2x</string>
	<string>emoticon5@2x</string>
	<string>emoticon6@2x</string>
	<string>emoticon7@2x</string>
	<string>emoticon8@2x</string>
	<string>emoticon9@2x</string>
	<string>emoticon10@2x</string>
	<string>emoticon11@2x</string>
	<string>emoticon12@2x</string>
	<string>emoticon13@2x</string>
	<string>emoticon14@2x</string>
	<string>emoticon15@2x</string>
	<string>emoticon16@2x</string>
	<string>emoticon17@2x</string>
	<string>emoticon18@2x</string>
	<string>emoticon19@2x</string>
	<string>emoticon20@2x</string>
	<string>emoticon21@2x</string>
	<string>emoticon22@2x</string>
	<string>emoticon23@2x</string>
	<string>emoticon24@2x</string>
	<string>emoticon25@2x</string>
	<string>emoticon26@2x</string>
	<string>emoticon27@2x</string>
	<string>emoticon28@2x</string>
	<string>emoticon29@2x</string>
	<string>emoticon30@2x</string>
	<string>emoticon31@2x</string>
	<string>emoticon32@2x</string>
	<string>emoticon33@2x</string>
	<string>emoticon34@2x</string>
	<string>emoticon34@2x</string>
	<string>emoticon35@2x</string>
	<string>emoticon36@2x</string>
	<string>emoticon37@2x</string>
	<string>emoticon38@2x</string>
	<string>emoticon39@2x</string>
	<string>emoticon40@2x</string>
	<string>emoticon41@2x</string>
	<string>emoticon42@2x</string>
	<string>emoticon43@2x</string>
	<string>emoticon44@2x</string>
	<string>emoticon45@2x</string>
	<string>emoticon46@2x</string>
	<string>emoticon47@2x</string>
	<string>emoticon48@2x</string>
	<string>emoticon49@2x</string>
	<string>emoticon50@2x</string>
	<string>emoticon51@2x</string>
	<string>emoticon52@2x</string>
	<string>emoticon53@2x</string>
	<string>emoticon54@2x</string>
	<string>emoticon55@2x</string>
	<string>emoticon56@2x</string>
	<string>emoticon57@2x</string>
	<string>emoticon58@2x</string>
	<string>emoticon59@2x</string>
	<string>emoticon60@2x</string>
	<string>emoticon61@2x</string>
	<string>emoticon62@2x</string>
	<string>emoticon63@2x</string>
	<string>emoticon64@2x</string>
	<string>emoticon65@2x</string>
	<string>emoticon66@2x</string>
	<string>emoticon67@2x</string>
	<string>emoticon68@2x</string>
	<string>emoticon69@2x</string>
	<string>emoticon70@2x</string>
	<string>emoticon71@2x</string>
	<string>emoticon72@2x</string>
	<string>emoticon73@2x</string>
	<string>emoticon74@2x</string>
	<string>emoticon75@2x</string>
	<string>emoticon76@2x</string>
	<string>emoticon77@2x</string>
	<string>emoticon78@2x</string>
	<string>emoticon79@2x</string>
	<string>emoticon80@2x</string>
	<string>emoticon81@2x</string>
	<string>emoticon82@2x</string>
	<string>emoticon83@2x</string>
	<string>emoticon84@2x</string>
	<string>emoticon85@2x</string>
	<string>emoticon86@2x</string>
	<string>emoticon87@2x</string>
	<string>emoticon88@2x</string>
	<string>emoticon89@2x</string>
	<string>emoticon90@2x</string>
	<string>emoticon91@2x</string>
	<string>emoticon92@2x</string>
	<string>emoticon93@2x</string>
	<string>emoticon94@2x</string>
	<string>emoticon95@2x</string>
	<string>emoticon96@2x</string>
	<string>emoticon97@2x</string>
</array>
</plist>
