<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>emoticon1@2x</string>
	<string>emoticon2@2x</string>
	<string>emoticon3@2x</string>
	<string>emoticon4@2x</string>
	<string>emoticon5@2x</string>
	<string>emoticon6@2x</string>
	<string>emoticon7@2x</string>
	<string>emoticon8@2x</string>
	<string>emoticon9@2x</string>
	<string>emoticon10@2x</string>
	<string>emoticon11@2x</string>
	<string>emoticon12@2x</string>
	<string>emoticon13@2x</string>
	<string>emoticon14@2x</string>
	<string>emoticon15@2x</string>
	<string>emoticon16@2x</string>
	<string>emoticon17@2x</string>
	<string>emoticon18@2x</string>
	<string>emoticon19@2x</string>
	<string>emoticon20@2x</string>
	<string>emoticon21@2x</string>
	<string>emoticon22@2x</string>
	<string>emoticon23@2x</string>
	<string>emoticon24@2x</string>
	<string>emoticon25@2x</string>
	<string>emoticon26@2x</string>
	<string>emoticon27@2x</string>
	<string>emoticon28@2x</string>
	<string>emoticon29@2x</string>
	<string>emoticon30@2x</string>
	<string>emoticon31@2x</string>
	<string>emoticon32@2x</string>
	<string>emoticon33@2x</string>
	<string>emoticon34@2x</string>
	<string>emoticon34@2x</string>
	<string>emoticon35@2x</string>
	<string>emoticon36@2x</string>
	<string>emoticon37@2x</string>
	<string>emoticon38@2x</string>
	<string>emoticon39@2x</string>
	<string>emoticon40@2x</string>
	<string>emoticon41@2x</string>
	<string>emoticon42@2x</string>
	<string>emoticon43@2x</string>
	<string>emoticon44@2x</string>
	<string>emoticon45@2x</string>
	<string>emoticon46@2x</string>
	<string>emoticon47@2x</string>
	<string>emoticon48@2x</string>
	<string>emoticon49@2x</string>
	<string>emoticon50@2x</string>
	<string>emoticon51@2x</string>
	<string>emoticon52@2x</string>
	<string>emoticon53@2x</string>
	<string>emoticon54@2x</string>
	<string>emoticon55@2x</string>
	<string>emoticon56@2x</string>
	<string>emoticon57@2x</string>
	<string>emoticon58@2x</string>
	<string>emoticon59@2x</string>
	<string>emoticon60@2x</string>
	<string>emoticon61@2x</string>
	<string>emoticon62@2x</string>
	<string>emoticon63@2x</string>
	<string>emoticon64@2x</string>
	<string>emoticon65@2x</string>
	<string>emoticon66@2x</string>
	<string>emoticon67@2x</string>
	<string>emoticon68@2x</string>
	<string>emoticon69@2x</string>
	<string>emoticon70@2x</string>
	<string>emoticon71@2x</string>
	<string>emoticon72@2x</string>
	<string>emoticon73@2x</string>
	<string>emoticon74@2x</string>
	<string>emoticon75@2x</string>
	<string>emoticon76@2x</string>
	<string>emoticon77@2x</string>
	<string>emoticon78@2x</string>
	<string>emoticon79@2x</string>
	<string>emoticon80@2x</string>
	<string>emoticon81@2x</string>
	<string>emoticon82@2x</string>
	<string>emoticon83@2x</string>
	<string>emoticon84@2x</string>
	<string>emoticon85@2x</string>
	<string>emoticon86@2x</string>
	<string>emoticon87@2x</string>
	<string>emoticon88@2x</string>
	<string>emoticon89@2x</string>
	<string>emoticon90@2x</string>
	<string>emoticon91@2x</string>
	<string>emoticon92@2x</string>
	<string>emoticon93@2x</string>
	<string>emoticon94@2x</string>
	<string>emoticon95@2x</string>
	<string>emoticon96@2x</string>
	<string>emoticon97@2x</string>
	<string>emoticon98@2x</string>
	<string>emoticon99@2x</string>
	<string>emoticon100@2x</string>
	<string>emoticon101@2x</string>
	<string>emoticon102@2x</string>
	<string>emoticon103@2x</string>
	<string>emoticon104@2x</string>
	<string>emoticon105@2x</string>
	<string>emoticon106@2x</string>
	<string>emoticon107@2x</string>
	<string>emoticon108@2x</string>
	<string>emoticon109@2x</string>
	<string>emoticon110@2x</string>
	<string>emoticon111@2x</string>
	<string>emoticon112@2x</string>
	<string>emoticon113@2x</string>
	<string>emoticon114@2x</string>
	<string>emoticon115@2x</string>
	<string>emoticon116@2x</string>
	<string>emoticon117@2x</string>
	<string>emoticon118@2x</string>
	<string>emoticon121@2x</string>
	<string>emoticon122@2x</string>
	<string>emoticon123@2x</string>
	<string>emoticon124@2x</string>
	<string>emoticon125@2x</string>
	<string>emoticon126@2x</string>
	<string>emoticon127@2x</string>
	<string>emoticon128@2x</string>
	<string>emoticon129@2x</string>
	<string>emoticon130@2x</string>
	<string>emoticon131@2x</string>
	<string>emoticon132@2x</string>
	<string>emoticon133@2x</string>
	<string>emoticon134@2x</string>
	<string>emoticon135@2x</string>
	<string>emoticon136@2x</string>
	<string>emoticon137@2x</string>
	<string>emoticon138@2x</string>
	<string>emoticon139@2x</string>
	<string>emoticon140@2x</string>
	<string>emoticon141@2x</string>
	<string>emoticon142@2x</string>
	<string>emoticon143@2x</string>
	<string>emoticon144@2x</string>
	<string>emoticon145@2x</string>
	<string>emoticon146@2x</string>
	<string>emoticon147@2x</string>
	<string>emoticon148@2x</string>
	<string>emoticon150@2x</string>
	<string>emoticon151@2x</string>
	<string>emoticon152@2x</string>
	<string>emoticon153@2x</string>
	<string>emoticon154@2x</string>
	<string>emoticon155@2x</string>
	<string>emoticon156@2x</string>
	<string>emoticon157@2x</string>
	<string>emoticon158@2x</string>
	<string>emoticon159@2x</string>
	<string>emoticon160@2x</string>
	<string>emoticon161@2x</string>
	<string>emoticon162@2x</string>
	<string>emoticon163@2x</string>
	<string>emoticon164@2x</string>
	<string>emoticon165@2x</string>
	<string>emoticon166@2x</string>
	<string>emoticon167@2x</string>
	<string>emoticon168@2x</string>
	<string>emoticon169@2x</string>
	<string>emoticon170@2x</string>
	<string>emoticon171@2x</string>
	<string>emoticon172@2x</string>
	<string>emoticon173@2x</string>
	<string>emoticon174@2x</string>
	<string>emoticon175@2x</string>
	<string>emoticon176@2x</string>
	<string>emoticon177@2x</string>
	<string>emoticon178@2x</string>
	<string>emoticon179@2x</string>
	<string>emoticon180@2x</string>
	<string>emoticon181@2x</string>
	<string>emoticon182@2x</string>
	<string>emoticon183@2x</string>
	<string>anchor-icon</string>
	<string>archery-icon</string>
	<string>athletics-icon</string>
	<string>Badminton-icon (1)</string>
	<string>badminton-icon</string>
	<string>bag-books-icon</string>
	<string>ball-football-camp-icon</string>
	<string>ball-icon (1)</string>
	<string>ball-icon</string>
	<string>ball-trophy-icon</string>
	<string>Ballet-icon</string>
	<string>Baseball-icon</string>
	<string>Basketball-icon (1)</string>
	<string>basketball-icon</string>
	<string>beach-chair-icon</string>
	<string>beach-volley-icon</string>
	<string>Bowling-icon</string>
	<string>Boxing-icon (1)</string>
	<string>boxing-icon</string>
	<string>bucket-icon</string>
	<string>Case-icon</string>
	<string>cocktail-icon</string>
	<string>comic-trophy-icon</string>
	<string>coral-icon</string>
	<string>Cricket-icon</string>
	<string>Curling-icon</string>
	<string>cycling-bmx-icon</string>
	<string>Cycling-icon</string>
	<string>cycling-mountain-biking-icon</string>
	<string>cycling-road-icon</string>
	<string>cycling-track-icon</string>
	<string>diving-icon</string>
	<string>dragon-icon</string>
	<string>eMail-icon</string>
	<string>equestrian-dressage-icon</string>
	<string>equestrian-eventing-icon</string>
	<string>equestrian-jumping-icon</string>
	<string>Favorites-icon</string>
	<string>fencing-icon</string>
	<string>field-hockey-icon</string>
	<string>fins-icon</string>
	<string>firecracker-icon</string>
	<string>fish-icon (1)</string>
	<string>fish-icon</string>
	<string>flip-flops-icon</string>
	<string>flippers-icon</string>
	<string>flippers-icon</string>
	<string>folder-icon</string>
	<string>folder-trophy-icon</string>
	<string>folder-worldcup-icon</string>
	<string>football-camo-icon</string>
	<string>Football-icon (1)</string>
	<string>football-icon</string>
	<string>fudao-icon</string>
	<string>gold-ingot-icon</string>
	<string>gymnastics-artistic-icon</string>
	<string>gymnastics-trampoline-icon</string>
	<string>handball-icon</string>
	<string>Heart-icon</string>
	<string>Hockey-icon</string>
	<string>judo-icon</string>
	<string>kayak-slalom-icon</string>
	<string>kayak-sprint-icon</string>
	<string>lantern-icon</string>
	<string>Love-Football-icon</string>
	<string>mask-icon</string>
	<string>miga-icon</string>
	<string>My-world-icon</string>
	<string>orange-icon</string>
	<string>Parental-Control-icon</string>
	<string>pearl-icon</string>
	<string>pentathlon-icon</string>
	<string>Pictures-icon</string>
	<string>Pool-icon</string>
	<string>quatchi-icon</string>
	<string>Racing-icon</string>
	<string>red-envelope-icon</string>
	<string>rowing-icon</string>
	<string>Sailing-icon (1)</string>
	<string>sailing-icon</string>
	<string>sand-bucket-icon</string>
	<string>sand-castle-icon</string>
	<string>seahorse-icon</string>
	<string>shell-icon</string>
	<string>shooting-icon</string>
	<string>Skating-icon</string>
	<string>Skiing-icon</string>
	<string>Squash-icon</string>
	<string>star-icon</string>
	<string>sumi-icon</string>
	<string>sunglasses-icon</string>
	<string>surfboard-icon</string>
	<string>Surfing-icon</string>
	<string>swimming-icon</string>
	<string>swimming-synchronized-icon</string>
	<string>table-tenis-icon</string>
	<string>taekwondo-icon</string>
	<string>tennis-icon</string>
	<string>treasure-icon</string>
	<string>triathlon-icon</string>
	<string>trophy-ball-icon</string>
	<string>trophy-football-camp-icon</string>
	<string>trophy-icon</string>
	<string>turtle-icon</string>
	<string>umbrella-icon</string>
	<string>Volleyball-icon (1)</string>
	<string>volleyball-icon</string>
	<string>waterpolo-icon</string>
	<string>weightlifting-icon</string>
	<string>wrestling-freestyle-icon</string>
	<string>wrestling-greco-roman-icon</string>
	<string>Wrestling-icon</string>
	<string>black_dollar</string>
	<string>black_pound</string>
	<string>black_euro</string>
	<string>black_yuan</string>
	<string>blue_dollar</string>
	<string>blue_pound</string>
	<string>blue_euro</string>
	<string>blue_yuan</string>
	
	<string>emoticon184-adore@2x</string>
	<string>emoticon185-Adore1@2x</string>
	<string>emoticon186-after_boom@2x</string>
	<string>emoticon187-ah@2x</string>
	<string>emoticon188-amazed@2x</string>
	<string>emoticon189-angry@2x</string>
	
	<string>emoticon190-bad_smelly@2x</string>
	<string>emoticon191-baffle@2x</string>
	<string>emoticon192-beat_brick@2x</string>
	<string>emoticon193-beat_plaster@2x</string>
	<string>emoticon194-beat_shot@2x</string>
	<string>emoticon195-beated@2x</string>
	<string>emoticon196-beauty@2x</string>
	<string>emoticon197-big_smile@2x</string>
	<string>emoticon198-waaaht@2x</string>
	<string>emoticon199-boss@2x</string>
	
	<string>emoticon200-burn_joss_stick@2x</string>
	<string>emoticon201-byebye@2x</string>
	<string>emoticon202-canny@2x</string>
	<string>emoticon203-choler@2x</string>
	<string>emoticon204-cold@2x</string>
	<string>emoticon205-confident@2x</string>
	<string>emoticon206-confuse@2x</string>
	<string>emoticon207-cool@2x</string>
	<string>emoticon208-Cool1@2x</string>
	<string>emoticon209-cry@2x</string>
	
	<string>emoticon210-Cry1@2x</string>
	<string>emoticon211-what@2x</string>
	<string>emoticon212-doubt@2x</string>
	<string>emoticon213-dribble@2x</string>
	<string>emoticon214-embarrassed@2x</string>
	<string>emoticon215-extreme_sexy_girl@2x</string>
	<string>emoticon216-feel_good@2x</string>
	<string>emoticon217-Furious@2x</string>
	<string>emoticon218-go@2x</string>
	<string>emoticon219-haha@2x</string>
	
	<string>emoticon220-hell_boy@2x</string>
	<string>emoticon221-hungry@2x</string>
	<string>emoticon222-Laugh2x</string>
	<string>emoticon223-look_down@2x</string>
	<string>emoticon224-matrix@2x</string>
	<string>emoticon225-misdoubt@2x</string>
	<string>emoticon226-Nerd@2x</string>
	<string>emoticon227-Ninja@2x</string>
	<string>emoticon228-nosebleed@2x</string>
	<string>emoticon229-oh@2x</string>
	
	<string>emoticon230-ops@2x</string>
	<string>emoticon231-too_sad@2x</string>
	<string>emoticon232-pudency@2x</string>
	<string>emoticon233-Pudently@2x</string>
	<string>emoticon234-rap@2x</string>
	<string>emoticon235-sad@2x</string>
	<string>emoticon236-sexy_girl@2x</string>
	<string>emoticon237-shame@2x</string>
	<string>emoticon238-smile@2x</string>
	<string>emoticon239-spiderman@2x</string>
	
	<string>emoticon240-still_dreaming@2x</string>
	<string>emoticon241-Struggle@2x</string>
	<string>emoticon242-Study@2x</string>
	<string>emoticon243-sure@2x</string>
	<string>emoticon244-surrender@2x</string>
	<string>emoticon245-sweat@2x</string>
	<string>emoticon246-sweet_kiss@2x</string>
	<string>emoticon247-SweetAngel@2x</string>
	<string>emoticon248-ThumbsUp@2x</string>
	<string>emoticon249-tire@2x</string>

	<string>emoticon250beer1</string>
	<string>emoticon251belarus-folk-dancers</string>
	<string>emoticon252chinabox</string>
	<string>emoticon253cocktail-daniel-steele-r</string>
	<string>emoticon254cupcake-small</string>
	<string>emoticon255cupcake</string>
	<string>emoticon256dancers-twotone</string>
	<string>emoticon257dstankie-Birthday-cake</string>
	<string>emoticon258frenchwinebottle</string>
	<string>emoticon259Gerald-G-Fast-Food-menu-samples-FF-Menu</string>
	<string>emoticon260Glamorous-Lady-Dancing--2-by-Merlin2525</string>
	<string>emoticon261JNESS-POLICE-CAR</string>
	<string>emoticon262johnny-automatic-dancing-santa</string>
	<string>emoticon263kid-jump</string>
	<string>emoticon264Machovka-drink</string>
	<string>emoticon265martini-glass</string>
	<string>emoticon266molotov</string>
	<string>emoticon267ossidiana-girl-dancing</string>
	<string>emoticon268purplecar</string>
	<string>emoticon269rally-car</string>
	<string>emoticon270ryanlerch-Red-Lamborghini</string>
	<string>emoticon271silvercar</string>
	<string>emoticon272sweet-kids</string>
	<string>emoticon273TheStructorr-Lamborghini-Gallardo</string>
	<string>emoticon274wine</string>
	<string>emoticon275yellowglass</string>
	<string>emoticon276zeimusu-Recorder-and-music</string>

</array>
</plist>
