<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>emoticon1@2x</string>
	<string>emoticon2@2x</string>
	<string>emoticon3@2x</string>
	<string>emoticon4@2x</string>
	<string>emoticon5@2x</string>
	<string>emoticon6@2x</string>
	<string>emoticon7@2x</string>
	<string>emoticon8@2x</string>
	<string>emoticon9@2x</string>
	<string>emoticon10@2x</string>
	<string>emoticon11@2x</string>
	<string>emoticon12@2x</string>
	<string>emoticon13@2x</string>
	<string>emoticon14@2x</string>
	<string>emoticon15@2x</string>
	<string>emoticon16@2x</string>
	<string>emoticon17@2x</string>
	<string>emoticon18@2x</string>
	<string>emoticon19@2x</string>
	<string>emoticon20@2x</string>
</array>
</plist>
