<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Aleo</string>
	<string>Alex Brush</string>
	<string>Algerian</string>
	<string>Aller</string>
	<string>Amble</string>
	<string>Ambrosia Demo</string>
	<string>Anjelika Rose</string>
	<string>Anson</string>
	<string>aurora</string>
	<string>Balham</string>
	<string>BankGothic DB</string>
	<string>Bellota</string>
	<string>BlackJack</string>
	<string>Canter</string>
	<string>Caviar Dreams</string>
	<string>Circula</string>
	<string>Code Light</string>
	<string>Comfortaa</string>
	<string>Monoton</string>
	<string>Exo</string>
	<string>Flex Display</string>
	<string>Forsee Typeface</string>
	<string>Gent</string>
	<string>Gnuolane</string>
	<string>GoodDog</string>
	<string>Grand Hotel</string>
	<string>Gutsy</string>
	<string>Lily Script One</string>
	<string>High Tide</string>
	<string>Homestead</string>
	<string>Homizio Nova</string>
	<string>AvantGarde CE</string>
	<string>Jalane_light</string>
	<string>Journal</string>
	<string>Junction</string>
	<string>Kaiju</string>
	<string>Kankin</string>
	<string>Klinic Slab</string>
	<string>Komoda</string>
	<string>Lato</string>
	<string>Lavanderia</string>
	<string>Linux Libertine</string>
	<string>Lobster 1.4</string>
	<string>Manteka</string>
	<string>Market Deco</string>
	<string>Mohave</string>
	<string>Molot</string>
	<string>Montserrat</string>
	<string>moonhouse</string>
	<string>Myra 4F Caps</string>
	<string>Nexa Bold</string>
	<string>ONRAMP</string>
	<string>Open Sans</string>
	<string>OSP-DIN</string>
	<string>Paihuen Mapuche</string>
	<string>Pinstripe Limo</string>
	<string>Quattrocento Sans</string>
	<string>Quicksand</string>
	<string>Raleway</string>
	<string>RBNo2 Light</string>
	<string>Roboto</string>
	<string>seagle</string>
	<string>Segoe UI</string>
	<string>Signika</string>
	<string>Sintony</string>
	<string>Sofia</string>
	<string>Source Sans Pro</string>
	<string>St Marie</string>
	<string>Swis721 BlkEx BT</string>
	<string>Telegrafico</string>
	<string>Track</string>
	<string>Oswald</string>
</array>
</plist>
