<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Aleo</string>
	<string>Alex Brush</string>
	<string>Algerian</string>
	<string>Aller</string>
	<string>Amble</string>
	<string>Ambrosia Demo</string>
	<string>Track</string>
	<string>Anson</string>
	<string>aurora</string>
	<string>Balham</string>
	<string>BankGothic DB</string>
	<string>Bellota</string>
	<string>BlackJack</string>
	<string>Canter</string>
	<string>Caviar Dreams</string>
	<string>Circula</string>
	<string>Code Light</string>
	<string>Comfortaa</string>
	<string>Monoton</string>
	<string>Exo</string>
	<string>Roboto</string>
</array>
</plist>
