<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Create Flyers</key>
	<string>Create flyers customized for your events.</string>
	<key>Share Flyers</key>
	<string>Share flyers for free on various social networks including MMS and email.</string>
	<key>Themes</key>
	<string>Use one of the freely available backgrounds, icons, clipart and fonts.</string>
</dict>
</plist>
