<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Create Flyers</key>
		<string>Create brilliant flyers for any event or occasion.</string>
	</dict>
	<dict>
		<key>Background</key>
		<string>Use the included designs for your flyer, take a photo or access your own images.</string>
	</dict>
	<dict>
		<key>Photos</key>
		<string>Add photos, crop &amp; apply effects.</string>
	</dict>
	<dict>
		<key>Art</key>
		<string>Many included art &amp; symbol options.</string>
	</dict>
	<dict>
		<key>Share</key>
		<string>Share flyers via email, text, Twitter, Facebook, Instagram &amp; more.</string>
	</dict>
	<dict>
		<key>Edit</key>
		<string>Access and edit four most recently saved flyers shown on main screen.</string>
	</dict>
	<dict>
		<key>Unlock Feature</key>
		<string>Invite 20 people to flyerly and unlock Design Bundle feature for FREE!</string>
	</dict>
</array>
</plist>
