<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Compose Flyers</key>
		<string>Flyers for events, invitations and marketing.</string>
	</dict>
	<dict>
		<key>Photos</key>
		<string>Add photos, crop them and apply beautiful effects.</string>
	</dict>
	<dict>
		<key>Stock Art</key>
		<string>200+ icons to choose from.</string>
	</dict>
	<dict>
		<key>Share Flyers</key>
		<string>Share flyers on social networks, SMS and email.</string>
	</dict>
</array>
</plist>
