<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>All Samples</key>
	<array>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.setDeviceOrientation("1")</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:21:51Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Found anchor for screen 'Welcome'</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:21:51Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[2].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:21:51Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Found anchor for screen 'SignIn'</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:21:52Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[8].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:21:52Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[4].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:21:53Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().keyboard().typeString("riksof.yahoo")</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:21:54Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[6].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:21:56Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().keyboard().typeString("riksof123")</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:21:56Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[7].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:21:57Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Found anchor for screen 'Home'</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:00Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[19].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:00Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Found anchor for screen 'Flyer'</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:02Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Screenshot of screen 'flyer' taken with orientation 'Portrait'</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:02Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:568.00,width:320.00}}", "01_flyer")</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:02Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>01_flyer</string>
			<key>Screenshot</key>
			<string>EFEB4D6C-6E22-4950-BE63-C10F156AE92B</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:02Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[19].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:03Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Screenshot of screen 'flyer' taken with orientation 'Portrait'</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:03Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:568.00,width:320.00}}", "02_flyer")</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:03Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>02_flyer</string>
			<key>Screenshot</key>
			<string>B2AF9FF9-697B-4978-9DB9-9673375A9410</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:03Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].buttons()[3].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:04Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBars()[0].buttons()[3].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:04Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBars()[0].buttons()[2].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:05Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Screenshot of screen 'flyer' taken with orientation 'Portrait'</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:05Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:568.00,width:320.00}}", "03_flyer")</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:05Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>03_flyer</string>
			<key>Screenshot</key>
			<string>559EB495-BC13-4743-8E3C-496874F93D8C</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:05Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[20].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:05Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Screenshot of screen 'flyer' taken with orientation 'Portrait'</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:06Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:568.00,width:320.00}}", "04_flyer")</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:06Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>04_flyer</string>
			<key>Screenshot</key>
			<string>69D9B984-CE14-43D4-B839-AD6E97E37CA4</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:06Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].buttons()[4].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:06Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBars()[0].buttons()[3].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:07Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Screenshot of screen 'flyer' taken with orientation 'Portrait'</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:07Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:568.00,width:320.00}}", "05_flyer")</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:07Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>05_flyer</string>
			<key>Screenshot</key>
			<string>65122EE2-7059-4F16-B2AF-FAD3C55320B6</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:07Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].buttons()[0].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:07Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBars()[0].buttons()[3].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:08Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Screenshot of screen 'flyer' taken with orientation 'Portrait'</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:09Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:568.00,width:320.00}}", "06_flyer")</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:09Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>06_flyer</string>
			<key>Screenshot</key>
			<string>5E616501-9795-480E-A9F1-2915DFC20026</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:09Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].buttons()[0].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:09Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBars()[0].buttons()[3].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:10Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBars()[0].buttons()[2].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:10Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Screenshot of screen 'flyer' taken with orientation 'Portrait'</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:11Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:568.00,width:320.00}}", "07_flyer")</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:11Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>07_flyer</string>
			<key>Screenshot</key>
			<string>151E545F-6C68-4D46-8CB3-7977B5E2D251</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:11Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBars()[0].buttons()[0].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:11Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Found anchor for screen 'Home'</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:12Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[4].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:13Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Found anchor for screen 'Flyer'</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:14Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Screenshot of screen 'flyer' taken with orientation 'Portrait'</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:15Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:568.00,width:320.00}}", "08_flyer")</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:15Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>08_flyer</string>
			<key>Screenshot</key>
			<string>DFEF0C0A-8D9B-45D7-A5D5-1F8C987495B7</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:15Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[17].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:15Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Screenshot of screen 'flyer' taken with orientation 'Portrait'</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:16Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:568.00,width:320.00}}", "09_flyer")</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:16Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>09_flyer</string>
			<key>Screenshot</key>
			<string>8873BCE9-450A-440E-AB33-4B2269195BC6</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:16Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[13].elements()[0].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:16Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().keyboard().typeString("RIKSOF")</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:16Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBars()[0].buttons()[2].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:18Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].buttons()[4].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:19Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[17].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:20Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].buttons()[2].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:20Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[18].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:20Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].buttons()[19].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:20Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[19].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:21Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].buttons()[4].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:21Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBars()[0].buttons()[3].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:22Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Screenshot of screen 'flyer' taken with orientation 'Portrait'</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:22Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:568.00,width:320.00}}", "10_flyer")</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:22Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>10_flyer</string>
			<key>Screenshot</key>
			<string>367F6314-FC09-435A-B178-4DA37B529B5A</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:22Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[17].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:23Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[13].elements()[1].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:23Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().keyboard().typeString("SQA")</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:24Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBars()[0].buttons()[2].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:25Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].buttons()[3].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:25Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[17].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:26Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].buttons()[1].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:26Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[18].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:26Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].buttons()[20].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:27Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[19].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:27Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].buttons()[0].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:27Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBars()[0].buttons()[3].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:28Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Screenshot of screen 'flyer' taken with orientation 'Portrait'</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:28Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:568.00,width:320.00}}", "11_flyer")</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:28Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>11_flyer</string>
			<key>Screenshot</key>
			<string>D759C9C9-256E-4E64-B2D5-01F9D7F34AA0</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:28Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].buttons()[0].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:29Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[20].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:29Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[13].elements()[1].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:29Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().keyboard().typeString(" (Private) Limited")</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:30Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBars()[0].buttons()[2].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:33Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].buttons()[3].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:33Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[17].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:34Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].buttons()[4].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:34Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[18].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:35Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].buttons()[20].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:35Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[19].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:35Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].buttons()[3].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:36Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBars()[0].buttons()[3].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:36Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBars()[0].buttons()[2].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:37Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBars()[0].buttons()[2].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:37Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Screenshot of screen 'flyer' taken with orientation 'Portrait'</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:38Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:568.00,width:320.00}}", "12_flyer")</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:38Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>12_flyer</string>
			<key>Screenshot</key>
			<string>5FECBB4B-7BB6-4AD1-90A7-76AADFC0199F</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:38Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[18].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:38Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Screenshot of screen 'flyer' taken with orientation 'Portrait'</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:39Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:568.00,width:320.00}}", "13_flyer")</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:39Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>13_flyer</string>
			<key>Screenshot</key>
			<string>56BF0CD2-AF82-4F37-9838-D71661B43672</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:39Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[16].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:39Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Found anchor for screen 'Camera'</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:40Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Screenshot of screen 'camera' taken with orientation 'Portrait'</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:41Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:568.00,width:320.00}}", "14_camera")</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:41Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>14_camera</string>
			<key>Screenshot</key>
			<string>56F7F0C6-5A9B-4D10-81EB-CFD8BA318DF7</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:41Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[14].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:41Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Found anchor for screen 'Crop'</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:44Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Screenshot of screen 'crop' taken with orientation 'Portrait'</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:44Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:568.00,width:320.00}}", "15_crop")</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:44Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>15_crop</string>
			<key>Screenshot</key>
			<string>A422854E-A227-492C-9656-5C5F55E26399</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:45Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBars()[0].buttons()[1].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:45Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBars()[0].buttons()[3].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:45Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBars()[0].buttons()[2].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:46Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBars()[0].buttons()[0].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:46Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Found anchor for screen 'Home'</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:48Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[21].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:48Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Found anchor for screen 'Settings'</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:50Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[1].elements()[3].elements()[0].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:50Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Screenshot of screen 'settings' taken with orientation 'Portrait'</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:51Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:568.00,width:320.00}}", "16_settings")</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:51Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>16_settings</string>
			<key>Screenshot</key>
			<string>D0C04A5E-8600-47A9-9A9E-58B561558AC8</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:51Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[2].elements()[1].elements()[1].elements()[0].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-24T06:22:51Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
