<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>All Samples</key>
	<array>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.setDeviceOrientation("1")</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:01:56Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Found anchor for screen 'Home'</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:01:56Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Screenshot of screen 'home' taken with orientation 'Portrait'</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:01:57Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "01_home")</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:01:57Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>01_home</string>
			<key>Screenshot</key>
			<string>246410F2-BE32-41B1-B0AD-B2D8D52E5311</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:01:58Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[21].tap()</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:01:58Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Found anchor for screen 'Settings'</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:01:59Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>UIAWindow: rect:{{0, 0}, {320, 480}}</string>
			<key>Screenshot</key>
			<string>A64675BA-4624-452D-A62B-06A09FAF5B26</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:01:59Z</date>
			<key>Type</key>
			<integer>0</integer>
			<key>children</key>
			<array>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIANavigationBar: name:MainSettingView rect:{{0, 20}, {320, 44}}</string>
					<key>Screenshot</key>
					<string>A5A7E518-CC6F-49B9-9B8C-D4C93D572637</string>
					<key>Timestamp</key>
					<date>2014-04-15T11:01:59Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAImage: rect:{{0, 0}, {320, 64}}</string>
							<key>Screenshot</key>
							<string>B395031E-B91C-477C-B637-7F9E64629AEF</string>
							<key>Timestamp</key>
							<date>2014-04-15T11:01:59Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAImage: rect:{{0, 64}, {320, 0}}</string>
									<key>Screenshot</key>
									<string>A0744B10-0170-44D8-9112-D61B3F40F885</string>
									<key>Timestamp</key>
									<date>2014-04-15T11:01:59Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
							</array>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAButton: name:home button rect:{{16, 21}, {45, 42}}</string>
							<key>Screenshot</key>
							<string>4D466EC2-3E89-41F2-9683-E9ECF2A464EE</string>
							<key>Timestamp</key>
							<date>2014-04-15T11:01:59Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAButton: name:help icon rect:{{69, 21}, {45, 42}}</string>
							<key>Screenshot</key>
							<string>E96A18DB-3C1A-4400-A6EF-5924E5344FEC</string>
							<key>Timestamp</key>
							<date>2014-04-15T11:01:59Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAStaticText: name:SETTINGS value:SETTINGS rect:{{120, 17}, {87, 50}}</string>
							<key>Screenshot</key>
							<string>89035BDD-3C4E-41C5-8889-AAC384CD1465</string>
							<key>Timestamp</key>
							<date>2014-04-15T11:01:59Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAButton: name:Back rect:{{8, 32}, {12, 20}}</string>
							<key>Screenshot</key>
							<string>5112F10A-B8E8-44D7-9D03-F0F7CAAD6E7D</string>
							<key>Timestamp</key>
							<date>2014-04-15T11:01:59Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
					</array>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIATableView: name:Empty list value:rows 1 to 5 of 5 rect:{{0, 64}, {320, 368}}</string>
					<key>Screenshot</key>
					<string>951BCCA0-93A9-4FA5-B3C5-2A1962B21EF7</string>
					<key>Timestamp</key>
					<date>2014-04-15T11:01:59Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIATableCell: name:Save to Gallery value: rect:{{0, 71}, {320, 40}}</string>
							<key>Screenshot</key>
							<string>BC231749-D3D8-4D19-9297-34FE427A1846</string>
							<key>Timestamp</key>
							<date>2014-04-15T11:01:59Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAStaticText: name:Save to Gallery value: rect:{{0, 71}, {320, 40}}</string>
									<key>Screenshot</key>
									<string>FA6DDDDE-380F-4CC2-A343-C74C5B562AB1</string>
									<key>Timestamp</key>
									<date>2014-04-15T11:01:59Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIASwitch: name:Save to Gallery value:1 rect:{{263, 75}, {51, 31}}</string>
									<key>Screenshot</key>
									<string>4307A5E3-E92A-42C9-81DB-787B404D5CBD</string>
									<key>Timestamp</key>
									<date>2014-04-15T11:01:59Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
							</array>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIATableCell: name:Flyerly public value: rect:{{0, 111}, {320, 40}}</string>
							<key>Screenshot</key>
							<string>C701E7E3-3F81-497D-9774-C7C1F9B2F090</string>
							<key>Timestamp</key>
							<date>2014-04-15T11:01:59Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAStaticText: name:Flyerly public value: rect:{{0, 111}, {320, 40}}</string>
									<key>Screenshot</key>
									<string>070095AC-BC0F-428B-A11F-735C3E8FB6E1</string>
									<key>Timestamp</key>
									<date>2014-04-15T11:01:59Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIASwitch: name:Flyerly public value:1 rect:{{263, 115}, {51, 31}}</string>
									<key>Screenshot</key>
									<string>BEA9818D-0682-4C8F-93C4-2B1443C1D55B</string>
									<key>Timestamp</key>
									<date>2014-04-15T11:01:59Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
							</array>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIATableCell: name:Like us on Facebook value: rect:{{0, 151}, {320, 40}}</string>
							<key>Screenshot</key>
							<string>45B0920E-55A2-445D-BD53-BF7888DF3C8D</string>
							<key>Timestamp</key>
							<date>2014-04-15T11:01:59Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAStaticText: name:Like us on Facebook value: rect:{{0, 151}, {320, 40}}</string>
									<key>Screenshot</key>
									<string>298E81D2-426C-445E-B4DB-E2321010B349</string>
									<key>Timestamp</key>
									<date>2014-04-15T11:01:59Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
							</array>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIATableCell: name:Follow us on Twitter value: rect:{{0, 191}, {320, 40}}</string>
							<key>Screenshot</key>
							<string>3BA2986E-FA9E-4BAC-9E8A-0AF937964851</string>
							<key>Timestamp</key>
							<date>2014-04-15T11:01:59Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAStaticText: name:Follow us on Twitter value: rect:{{0, 191}, {320, 40}}</string>
									<key>Screenshot</key>
									<string>03BAB0EF-CB9B-4721-99C2-FFBEB26A2FF3</string>
									<key>Timestamp</key>
									<date>2014-04-15T11:01:59Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
							</array>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIATableCell: name:Sign In value: rect:{{0, 231}, {320, 40}}</string>
							<key>Screenshot</key>
							<string>7E9623BA-D9D8-4AB9-BDB1-667DDD2B5514</string>
							<key>Timestamp</key>
							<date>2014-04-15T11:01:59Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAStaticText: name:Sign In value: rect:{{0, 231}, {320, 40}}</string>
									<key>Screenshot</key>
									<string>F4323821-4E17-4810-BBDB-3F4973E61171</string>
									<key>Timestamp</key>
									<date>2014-04-15T11:01:59Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:SettingsEmail rect:{{0, 433}, {80, 47}}</string>
					<key>Screenshot</key>
					<string>01D2B28C-288A-4ECD-B56C-6125EC22772B</string>
					<key>Timestamp</key>
					<date>2014-04-15T11:01:59Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:AppReview rect:{{80, 433}, {80, 47}}</string>
					<key>Screenshot</key>
					<string>3F109596-3186-44BB-9A59-301536B6DE74</string>
					<key>Timestamp</key>
					<date>2014-04-15T11:01:59Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:Twitter rect:{{160, 433}, {80, 47}}</string>
					<key>Screenshot</key>
					<string>846A4DDF-E35F-4041-9782-B2F94157D6EA</string>
					<key>Timestamp</key>
					<date>2014-04-15T11:01:59Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:Help rect:{{240, 433}, {80, 47}}</string>
					<key>Screenshot</key>
					<string>1C40CFFA-D837-48B1-9E20-A8A3A72ECB7E</string>
					<key>Timestamp</key>
					<date>2014-04-15T11:01:59Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAToolbar: rect:{{0, 480}, {320, 44}}</string>
					<key>Timestamp</key>
					<date>2014-04-15T11:01:59Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAImage: rect:{{0, 480}, {320, 0}}</string>
							<key>Screenshot</key>
							<string>FA780E5C-3479-48CB-B69E-B0F2ADD68545</string>
							<key>Timestamp</key>
							<date>2014-04-15T11:01:59Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAImage: rect:{{0, 480}, {320, 44}}</string>
							<key>Timestamp</key>
							<date>2014-04-15T11:01:59Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().tableViews()[0].cells()[4].tap()</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:01:59Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Screenshot of screen 'settings' taken with orientation 'Portrait'</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:02:00Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "02_settings")</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:02:00Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>02_settings</string>
			<key>Screenshot</key>
			<string>B880C3A7-0012-4455-890A-02589B365301</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:02:00Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Found anchor for screen 'SignIn'</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:02:00Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[4].tap()</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:02:01Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[4].tap()</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:02:02Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().keyboard().typeString("riksof.yahoo")</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:02:02Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[6].tap()</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:02:05Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().keyboard().typeString("riksof123")</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:02:05Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[7].tap()</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:02:07Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Found anchor for screen 'Home'</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:02:12Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[4].tap()</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:02:12Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Found anchor for screen 'Flyer'</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:02:14Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Screenshot of screen 'flyer' taken with orientation 'Portrait'</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:02:15Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "03_flyer")</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:02:15Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>03_flyer</string>
			<key>Screenshot</key>
			<string>84121534-D3B3-498B-AE1B-4F16B6FAD556</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:02:15Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[30].tap()</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:02:15Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Screenshot of screen 'flyer' taken with orientation 'Portrait'</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:02:16Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "04_flyer")</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:02:16Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>04_flyer</string>
			<key>Screenshot</key>
			<string>4EE2679C-4F24-4E87-BF5E-AB48EBF9A339</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:02:16Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].buttons()[3].tap()</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:02:19Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBars()[0].buttons()[3].tap()</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:02:19Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBars()[0].buttons()[2].tap()</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:02:21Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Screenshot of screen 'flyer' taken with orientation 'Portrait'</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:02:22Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "05_flyer")</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:02:22Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>05_flyer</string>
			<key>Screenshot</key>
			<string>F36890FA-524E-4427-B2E5-0AD76ABC55B3</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:02:22Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[31].tap()</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:02:23Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Screenshot of screen 'flyer' taken with orientation 'Portrait'</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:02:24Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "06_flyer")</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:02:24Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>06_flyer</string>
			<key>Screenshot</key>
			<string>0B45158C-218C-4941-B431-0BC3017F354F</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:02:24Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].buttons()[4].tap()</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:02:26Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBars()[0].buttons()[3].tap()</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:02:27Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Screenshot of screen 'flyer' taken with orientation 'Portrait'</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:02:28Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "07_flyer")</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:02:28Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>07_flyer</string>
			<key>Screenshot</key>
			<string>10096F50-35F8-4826-9A31-D0B43C76F7CF</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:02:28Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].buttons()[0].tap()</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:02:28Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBars()[0].buttons()[3].tap()</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:02:31Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Screenshot of screen 'flyer' taken with orientation 'Portrait'</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:02:32Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "08_flyer")</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:02:32Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>08_flyer</string>
			<key>Screenshot</key>
			<string>88B95F2D-7B34-4244-8A32-9D9E64B712AD</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:02:33Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].buttons()[0].tap()</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:02:33Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBars()[0].buttons()[3].tap()</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:02:35Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBars()[0].buttons()[2].tap()</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:02:36Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Screenshot of screen 'flyer' taken with orientation 'Portrait'</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:02:37Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "09_flyer")</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:02:37Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>09_flyer</string>
			<key>Screenshot</key>
			<string>203E8FEF-E134-4671-8AFB-662D34397EC8</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:02:38Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBars()[0].buttons()[0].tap()</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:02:38Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Error</string>
			<key>Message</key>
			<string>Script threw an uncaught JavaScript error: Could not find anchor for screen 'Home' on line 615 of feature.js</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:02:46Z</date>
			<key>Type</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Stopped</string>
			<key>Message</key>
			<string>Script was stopped by the user</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:02:46Z</date>
			<key>Type</key>
			<integer>9</integer>
		</dict>
	</array>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
