<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>All Samples</key>
	<array>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.setDeviceOrientation("1")</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:01:29Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Found anchor for screen 'Home'</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:01:30Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Screenshot of screen 'home' taken with orientation 'Portrait'</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:01:30Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "01_home")</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:01:30Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>01_home</string>
			<key>Screenshot</key>
			<string>B2E72E5B-603E-4410-B907-AE418CF0D1A0</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:01:30Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[21].tap()</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:01:31Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Found anchor for screen 'Settings'</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:01:32Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>UIAWindow: rect:{{0, 0}, {320, 480}}</string>
			<key>Screenshot</key>
			<string>5DE9E767-3214-496E-95CD-9012A7FBEA07</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:01:32Z</date>
			<key>Type</key>
			<integer>0</integer>
			<key>children</key>
			<array>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIANavigationBar: name:MainSettingView rect:{{0, 20}, {320, 44}}</string>
					<key>Screenshot</key>
					<string>80C186A9-4C42-4A4E-BCFA-426EA023D86C</string>
					<key>Timestamp</key>
					<date>2014-04-15T11:01:32Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAImage: rect:{{0, 0}, {320, 64}}</string>
							<key>Screenshot</key>
							<string>223D46AB-0DE8-44B0-A221-837EB9977DC0</string>
							<key>Timestamp</key>
							<date>2014-04-15T11:01:32Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAImage: rect:{{0, 64}, {320, 0}}</string>
									<key>Screenshot</key>
									<string>4133DA51-3CDF-4417-89E5-2B7E7902513D</string>
									<key>Timestamp</key>
									<date>2014-04-15T11:01:32Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
							</array>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAButton: name:home button rect:{{16, 21}, {45, 42}}</string>
							<key>Screenshot</key>
							<string>4FD32560-1DE1-4E48-8E03-E91FEC995698</string>
							<key>Timestamp</key>
							<date>2014-04-15T11:01:32Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAButton: name:help icon rect:{{69, 21}, {45, 42}}</string>
							<key>Screenshot</key>
							<string>7968B31F-F392-441D-8DF0-41005B73D5F7</string>
							<key>Timestamp</key>
							<date>2014-04-15T11:01:32Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAStaticText: name:SETTINGS value:SETTINGS rect:{{120, 17}, {87, 50}}</string>
							<key>Screenshot</key>
							<string>68D4C5D0-9536-4329-A030-5DE0FD4D1645</string>
							<key>Timestamp</key>
							<date>2014-04-15T11:01:32Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAButton: name:Back rect:{{8, 32}, {12, 20}}</string>
							<key>Screenshot</key>
							<string>D225B09D-1AAD-42FC-A27E-961DE6BFA6AC</string>
							<key>Timestamp</key>
							<date>2014-04-15T11:01:32Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
					</array>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIATableView: name:Empty list value:rows 1 to 6 of 6 rect:{{0, 64}, {320, 368}}</string>
					<key>Screenshot</key>
					<string>2447143B-87AB-4F4F-BCCE-847867394FC1</string>
					<key>Timestamp</key>
					<date>2014-04-15T11:01:32Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIATableCell: name:Save to Gallery value: rect:{{0, 71}, {320, 40}}</string>
							<key>Screenshot</key>
							<string>B4DA543E-46B1-4AC5-AF4B-80B006616492</string>
							<key>Timestamp</key>
							<date>2014-04-15T11:01:32Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAStaticText: name:Save to Gallery value: rect:{{0, 71}, {320, 40}}</string>
									<key>Screenshot</key>
									<string>99E445F0-F008-4C7F-80C6-6F6A3F3B65F5</string>
									<key>Timestamp</key>
									<date>2014-04-15T11:01:32Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIASwitch: name:Save to Gallery value:1 rect:{{263, 75}, {51, 31}}</string>
									<key>Screenshot</key>
									<string>4C0789A3-7E56-4E7E-A82B-91ACDCDC8308</string>
									<key>Timestamp</key>
									<date>2014-04-15T11:01:32Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
							</array>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIATableCell: name:Flyerly public value: rect:{{0, 111}, {320, 40}}</string>
							<key>Screenshot</key>
							<string>02AF12E2-D65A-456F-AF8E-F5E63ECDD244</string>
							<key>Timestamp</key>
							<date>2014-04-15T11:01:32Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAStaticText: name:Flyerly public value: rect:{{0, 111}, {320, 40}}</string>
									<key>Screenshot</key>
									<string>50FA4E4C-54DD-4029-84C3-259857A02963</string>
									<key>Timestamp</key>
									<date>2014-04-15T11:01:32Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIASwitch: name:Flyerly public value:1 rect:{{263, 115}, {51, 31}}</string>
									<key>Screenshot</key>
									<string>727B8E01-70F7-4D6F-A06D-902E52630FD0</string>
									<key>Timestamp</key>
									<date>2014-04-15T11:01:32Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
							</array>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIATableCell: name:Account Setting value: rect:{{0, 151}, {320, 40}}</string>
							<key>Screenshot</key>
							<string>B72E6CEE-3160-41AB-ADD7-2049088F1C36</string>
							<key>Timestamp</key>
							<date>2014-04-15T11:01:32Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAStaticText: name:Account Setting value: rect:{{0, 151}, {320, 40}}</string>
									<key>Screenshot</key>
									<string>8CEE0A38-96B4-41BD-8705-80CE9B974414</string>
									<key>Timestamp</key>
									<date>2014-04-15T11:01:32Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
							</array>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIATableCell: name:Like us on Facebook value: rect:{{0, 191}, {320, 40}}</string>
							<key>Screenshot</key>
							<string>D2F18D98-A4EB-46B0-B333-AA606BF31AF3</string>
							<key>Timestamp</key>
							<date>2014-04-15T11:01:32Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAStaticText: name:Like us on Facebook value: rect:{{0, 191}, {320, 40}}</string>
									<key>Screenshot</key>
									<string>3F3FDB8D-1FE6-45D1-A735-6A795A8383F1</string>
									<key>Timestamp</key>
									<date>2014-04-15T11:01:32Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
							</array>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIATableCell: name:Follow us on Twitter value: rect:{{0, 231}, {320, 40}}</string>
							<key>Screenshot</key>
							<string>AD5A017D-AA69-456B-9D54-3FEBB20B71A9</string>
							<key>Timestamp</key>
							<date>2014-04-15T11:01:32Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAStaticText: name:Follow us on Twitter value: rect:{{0, 231}, {320, 40}}</string>
									<key>Screenshot</key>
									<string>DB1C4AB9-BE32-4B76-975D-772AA4B14107</string>
									<key>Timestamp</key>
									<date>2014-04-15T11:01:32Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
							</array>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIATableCell: name:Sign Out value: rect:{{0, 271}, {320, 40}}</string>
							<key>Screenshot</key>
							<string>AE668513-F4EE-4FF4-9D13-B1FEEA4693FA</string>
							<key>Timestamp</key>
							<date>2014-04-15T11:01:32Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAStaticText: name:Sign Out value: rect:{{0, 271}, {320, 40}}</string>
									<key>Screenshot</key>
									<string>0E2B917A-0F46-415F-B109-D86291E2BDE8</string>
									<key>Timestamp</key>
									<date>2014-04-15T11:01:32Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:SettingsEmail rect:{{0, 433}, {80, 47}}</string>
					<key>Screenshot</key>
					<string>328E8D31-121B-44DD-9E32-DCECE81AC31A</string>
					<key>Timestamp</key>
					<date>2014-04-15T11:01:32Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:AppReview rect:{{80, 433}, {80, 47}}</string>
					<key>Screenshot</key>
					<string>A766C83A-FBF5-44BF-87C7-42212BB6543B</string>
					<key>Timestamp</key>
					<date>2014-04-15T11:01:32Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:Twitter rect:{{160, 433}, {80, 47}}</string>
					<key>Screenshot</key>
					<string>99E708B5-7D04-48F8-A548-897CE776286A</string>
					<key>Timestamp</key>
					<date>2014-04-15T11:01:32Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:Help rect:{{240, 433}, {80, 47}}</string>
					<key>Screenshot</key>
					<string>26BDEA10-61B2-48C6-B21D-EB53737A3E80</string>
					<key>Timestamp</key>
					<date>2014-04-15T11:01:32Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAToolbar: rect:{{0, 480}, {320, 44}}</string>
					<key>Timestamp</key>
					<date>2014-04-15T11:01:32Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAImage: rect:{{0, 480}, {320, 0}}</string>
							<key>Screenshot</key>
							<string>7BA6C026-5443-4294-822C-144688052447</string>
							<key>Timestamp</key>
							<date>2014-04-15T11:01:32Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAImage: rect:{{0, 480}, {320, 44}}</string>
							<key>Timestamp</key>
							<date>2014-04-15T11:01:32Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().tableViews()[0].cells()[4].tap()</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:01:32Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Screenshot of screen 'settings' taken with orientation 'Portrait'</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:01:33Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:480.00,width:320.00}}", "02_settings")</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:01:33Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>02_settings</string>
			<key>Screenshot</key>
			<string>7B54183E-3C49-47AE-889A-37DC4748D534</string>
			<key>Timestamp</key>
			<date>2014-04-15T11:01:33Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Stopped</string>
			<key>Message</key>
			<string>Script was stopped by the user</string>
			<key>Timestamp</key>
			<date>2014-04-15T14:00:01Z</date>
			<key>Type</key>
			<integer>9</integer>
		</dict>
	</array>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
