<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>All Samples</key>
	<array>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.setDeviceOrientation("1")</string>
			<key>Timestamp</key>
			<date>2014-02-25T12:07:50Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Found anchor for screen 'Welcome'</string>
			<key>Timestamp</key>
			<date>2014-02-25T12:07:50Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[2].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-25T12:07:50Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Found anchor for screen 'SignIn'</string>
			<key>Timestamp</key>
			<date>2014-02-25T12:07:51Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[8].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-25T12:07:51Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[4].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-25T12:07:52Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().keyboard().typeString("riksof.yahoo")</string>
			<key>Timestamp</key>
			<date>2014-02-25T12:07:53Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[6].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-25T12:07:55Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().keyboard().typeString("riksof123")</string>
			<key>Timestamp</key>
			<date>2014-02-25T12:07:55Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[7].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-25T12:07:56Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Found anchor for screen 'Home'</string>
			<key>Timestamp</key>
			<date>2014-02-25T12:07:58Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[19].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-25T12:07:58Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Found anchor for screen 'Flyer'</string>
			<key>Timestamp</key>
			<date>2014-02-25T12:08:00Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[19].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-25T12:08:00Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].buttons()[3].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-25T12:08:02Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBars()[0].buttons()[3].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-25T12:08:03Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[20].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-25T12:08:04Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].buttons()[4].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-25T12:08:05Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBars()[0].buttons()[3].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-25T12:08:06Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Screenshot of screen 'flyer' taken with orientation 'Portrait'</string>
			<key>Timestamp</key>
			<date>2014-02-25T12:08:06Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:568.00,width:320.00}}", "01_flyer")</string>
			<key>Timestamp</key>
			<date>2014-02-25T12:08:06Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>01_flyer</string>
			<key>Screenshot</key>
			<string>87951121-41F4-43D5-B6D2-79E6516F50AA</string>
			<key>Timestamp</key>
			<date>2014-02-25T12:08:06Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].buttons()[0].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-25T12:08:06Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBars()[0].buttons()[3].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-25T12:08:08Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Screenshot of screen 'flyer' taken with orientation 'Portrait'</string>
			<key>Timestamp</key>
			<date>2014-02-25T12:08:09Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:568.00,width:320.00}}", "02_flyer")</string>
			<key>Timestamp</key>
			<date>2014-02-25T12:08:09Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>02_flyer</string>
			<key>Screenshot</key>
			<string>C4166412-8AC7-44CE-863A-8AE231D78EFA</string>
			<key>Timestamp</key>
			<date>2014-02-25T12:08:09Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].buttons()[0].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-25T12:08:09Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Screenshot of screen 'flyer' taken with orientation 'Portrait'</string>
			<key>Timestamp</key>
			<date>2014-02-25T12:08:09Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:568.00,width:320.00}}", "03_flyer")</string>
			<key>Timestamp</key>
			<date>2014-02-25T12:08:09Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>03_flyer</string>
			<key>Screenshot</key>
			<string>3D30C614-839F-4A3B-9E53-806B9F1C6167</string>
			<key>Timestamp</key>
			<date>2014-02-25T12:08:09Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBars()[0].buttons()[3].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-25T12:08:10Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBars()[0].buttons()[3].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-25T12:08:10Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[6].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-25T12:08:11Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[22].elements()[4].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-25T12:08:13Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[7].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-25T12:08:28Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[22].elements()[3].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-25T12:08:29Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[8].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-25T12:08:30Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[23].elements()[1].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-25T12:08:31Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[9].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-25T12:08:32Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[26].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-25T12:08:33Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[10].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-25T12:08:34Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[24].elements()[3].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-25T12:08:35Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[12].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-25T12:08:36Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[0].elements()[3].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-25T12:08:38Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[13].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-25T12:08:39Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBars()[0].buttons()[0].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-25T12:08:39Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>UIAWindow: rect:{{0, 0}, {320, 568}}</string>
			<key>Screenshot</key>
			<string>45A2DCB3-2A82-4C5F-BB19-0D732096DC65</string>
			<key>Timestamp</key>
			<date>2014-02-25T12:08:40Z</date>
			<key>Type</key>
			<integer>0</integer>
			<key>children</key>
			<array>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIANavigationBar: name:LauchView rect:{{0, 20}, {320, 44}}</string>
					<key>Screenshot</key>
					<string>8654E72D-27D2-4CA2-8622-A405FF22C1B1</string>
					<key>Timestamp</key>
					<date>2014-02-25T12:08:40Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAImage: rect:{{0, 0}, {320, 64}}</string>
							<key>Screenshot</key>
							<string>51462384-49B1-4F8F-8B58-9BB30CC099E9</string>
							<key>Timestamp</key>
							<date>2014-02-25T12:08:40Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAImage: rect:{{0, 64}, {320, 0}}</string>
									<key>Screenshot</key>
									<string>E76735B4-7736-4356-B3DD-4B5D58ACD814</string>
									<key>Timestamp</key>
									<date>2014-02-25T12:08:40Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
							</array>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAButton: name:back button rect:{{16, 21}, {45, 42}}</string>
							<key>Screenshot</key>
							<string>BD7EE042-FA77-4FA5-9794-25CBC19F27BE</string>
							<key>Timestamp</key>
							<date>2014-02-25T12:08:40Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAImage: rect:{{-12, -8}, {100, 100}}</string>
									<key>Screenshot</key>
									<string>33CD7E23-2564-46D1-B924-3DDB6BB78A65</string>
									<key>Timestamp</key>
									<date>2014-02-25T12:08:40Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAImage: name:back_button rect:{{16, 21}, {45, 42}}</string>
									<key>Screenshot</key>
									<string>2BAA81FE-0075-4D22-BD70-C5B2BC8AC04D</string>
									<key>Timestamp</key>
									<date>2014-02-25T12:08:40Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
							</array>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAButton: name:help icon rect:{{69, 21}, {45, 42}}</string>
							<key>Screenshot</key>
							<string>B1A22932-02D9-4D17-ABCB-A473C1945733</string>
							<key>Timestamp</key>
							<date>2014-02-25T12:08:40Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAImage: rect:{{42, -8}, {100, 100}}</string>
									<key>Screenshot</key>
									<string>46C823AD-F489-40AF-8219-94187AEB97D6</string>
									<key>Timestamp</key>
									<date>2014-02-25T12:08:40Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAImage: name:help_icon rect:{{69, 21}, {45, 42}}</string>
									<key>Screenshot</key>
									<string>19403B3A-0968-4033-97DB-41235434BD92</string>
									<key>Timestamp</key>
									<date>2014-02-25T12:08:40Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
							</array>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAButton: name:Back rect:{{98, 21}, {45, 42}}</string>
							<key>Screenshot</key>
							<string>3480CC97-BC42-40E4-A14F-797903E196BC</string>
							<key>Timestamp</key>
							<date>2014-02-25T12:08:40Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAStaticText: name:Back value:Back rect:{{116, 31}, {26, 22}}</string>
									<key>Screenshot</key>
									<string>D0A86446-6EC5-4F03-9FF5-7F82E29F1299</string>
									<key>Timestamp</key>
									<date>2014-02-25T12:08:40Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
							</array>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAImage: name:flyerlylogo rect:{{116, 23}, {87, 38}}</string>
							<key>Screenshot</key>
							<string>CA90BB6E-7862-45A6-AD20-C5E215329291</string>
							<key>Timestamp</key>
							<date>2014-02-25T12:08:40Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAButton: name:undo rect:{{206, 21}, {45, 42}}</string>
							<key>Screenshot</key>
							<string>726DA1AA-3608-47C8-9F20-F8E3335D3262</string>
							<key>Timestamp</key>
							<date>2014-02-25T12:08:40Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAImage: rect:{{178, -8}, {100, 100}}</string>
									<key>Screenshot</key>
									<string>A9B18093-AA03-4EEC-8504-D9B0CA1FF696</string>
									<key>Timestamp</key>
									<date>2014-02-25T12:08:40Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAStaticText: rect:{{206, 21}, {0, 0}}</string>
									<key>Timestamp</key>
									<date>2014-02-25T12:08:40Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAImage: name:undo rect:{{206, 21}, {45, 42}}</string>
									<key>Screenshot</key>
									<string>47529F86-A555-40DC-A7A0-023D23844104</string>
									<key>Timestamp</key>
									<date>2014-02-25T12:08:40Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
							</array>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAButton: name:share button selected rect:{{259, 21}, {45, 42}}</string>
							<key>Screenshot</key>
							<string>98E1EC49-458D-4F4D-A093-578B4ECF76EB</string>
							<key>Timestamp</key>
							<date>2014-02-25T12:08:40Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAImage: rect:{{232, -8}, {100, 100}}</string>
									<key>Screenshot</key>
									<string>DA2ACA17-E6B8-47EB-A9B7-B6B48B8E0058</string>
									<key>Timestamp</key>
									<date>2014-02-25T12:08:40Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAStaticText: rect:{{259, 21}, {0, 0}}</string>
									<key>Timestamp</key>
									<date>2014-02-25T12:08:40Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAImage: name:share_button_selected rect:{{259, 21}, {45, 42}}</string>
									<key>Screenshot</key>
									<string>A3ED3965-ED24-4E55-BC87-79AC738F56CB</string>
									<key>Timestamp</key>
									<date>2014-02-25T12:08:40Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
							</array>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAStaticText: name:Flyer value:Flyer rect:{{320, 17}, {50, 50}}</string>
							<key>Timestamp</key>
							<date>2014-02-25T12:08:40Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAButton: name:UINavigationBarBackIndicatorDefault.png rect:{{8, 32}, {12, 20}}</string>
							<key>Screenshot</key>
							<string>337E7E58-3AF8-4CFA-BC97-17F65A900A4F</string>
							<key>Timestamp</key>
							<date>2014-02-25T12:08:40Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
					</array>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAImage: name:Zmain_screenbg-568h.png rect:{{0, 0}, {320, 519}}</string>
					<key>Screenshot</key>
					<string>ADA21471-EF1D-4FAC-8014-93334CF319D5</string>
					<key>Timestamp</key>
					<date>2014-02-25T12:08:40Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAImage: name:three_buttons.png rect:{{0, 68}, {320, 61}}</string>
					<key>Screenshot</key>
					<string>04526F32-08A9-4BF6-A99D-43B108D6EEC8</string>
					<key>Timestamp</key>
					<date>2014-02-25T12:08:40Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:SavedFlyers rect:{{4, 68}, {106, 60}}</string>
					<key>Screenshot</key>
					<string>FC77A949-77C4-438B-B7E0-A7FECB2DBDE4</string>
					<key>Timestamp</key>
					<date>2014-02-25T12:08:40Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:CreateFlyer rect:{{109, 69}, {103, 60}}</string>
					<key>Screenshot</key>
					<string>7808F671-97E1-4EEE-9372-2992E57940DA</string>
					<key>Timestamp</key>
					<date>2014-02-25T12:08:40Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:Invite rect:{{212, 68}, {104, 60}}</string>
					<key>Screenshot</key>
					<string>78A614BB-A0BC-4B81-875F-124E4A070AD2</string>
					<key>Timestamp</key>
					<date>2014-02-25T12:08:40Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAStaticText: name:Saved value:Saved rect:{{36, 100}, {51, 21}}</string>
					<key>Screenshot</key>
					<string>0143D775-7534-4245-954E-09B318A55FC2</string>
					<key>Timestamp</key>
					<date>2014-02-25T12:08:40Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAStaticText: name:Create value:Create rect:{{138, 100}, {59, 21}}</string>
					<key>Screenshot</key>
					<string>C765A5B2-60D1-4A73-91DC-E52F5A0AD183</string>
					<key>Timestamp</key>
					<date>2014-02-25T12:08:40Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAStaticText: name:Invite value:Invite rect:{{238, 100}, {51, 21}}</string>
					<key>Screenshot</key>
					<string>F9BA760D-C4DE-4464-9AAF-0A586B50334C</string>
					<key>Timestamp</key>
					<date>2014-02-25T12:08:40Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:FirstFlyer rect:{{15, 170}, {136, 136}}</string>
					<key>Screenshot</key>
					<string>D64AA09D-E1AA-4BE9-8473-22138F1105B2</string>
					<key>Timestamp</key>
					<date>2014-02-25T12:08:40Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAImage: rect:{{15, 170}, {136, 136}}</string>
					<key>Screenshot</key>
					<string>D271BE52-4109-4E2A-912F-06DDFECC307D</string>
					<key>Timestamp</key>
					<date>2014-02-25T12:08:40Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAImage: rect:{{168, 170}, {136, 136}}</string>
					<key>Screenshot</key>
					<string>E6ECA13F-B844-4DBB-A9A4-14DA22DDAF52</string>
					<key>Timestamp</key>
					<date>2014-02-25T12:08:40Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:SecondFlyer rect:{{169, 170}, {136, 136}}</string>
					<key>Screenshot</key>
					<string>1A29567A-4D1A-4A29-B89F-DEB1C4685A94</string>
					<key>Timestamp</key>
					<date>2014-02-25T12:08:40Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAImage: name:likealertbg.png rect:{{52, 260}, {215, 110}}</string>
					<key>Screenshot</key>
					<string>864E2CA7-4961-432D-B6FD-269352F595B4</string>
					<key>Timestamp</key>
					<date>2014-02-25T12:08:40Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAStaticText: name:                 flyerly page on facebook to keep up with the latest on the app. value:                 flyerly page on facebook to keep up with the latest on the app. rect:{{61, 260}, {198, 68}}</string>
					<key>Screenshot</key>
					<string>66B51480-E4C4-4030-8A25-7675A3A2F432</string>
					<key>Timestamp</key>
					<date>2014-02-25T12:08:40Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAElement: name:FacebookLikeInPopup rect:{{60, 276}, {46, 17}}</string>
					<key>Screenshot</key>
					<string>5C91FCE0-57D6-440D-857D-DFAD1DF1F9FA</string>
					<key>Timestamp</key>
					<date>2014-02-25T12:08:40Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:FacebookClose rect:{{132, 327}, {55, 25}}</string>
					<key>Screenshot</key>
					<string>48ED1533-879F-4163-A824-82E55AA1475F</string>
					<key>Timestamp</key>
					<date>2014-02-25T12:08:40Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAImage: name:likealertclose.png rect:{{132, 327}, {55, 25}}</string>
							<key>Screenshot</key>
							<string>B0B26A52-A35C-4A6D-BC4D-B812FE7FDC95</string>
							<key>Timestamp</key>
							<date>2014-02-25T12:08:40Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
					</array>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:ThirdFlyer rect:{{15, 350}, {136, 136}}</string>
					<key>Screenshot</key>
					<string>878A592D-AAA3-46C6-B6CB-1B75CF43AE38</string>
					<key>Timestamp</key>
					<date>2014-02-25T12:08:40Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAImage: rect:{{15, 350}, {136, 136}}</string>
					<key>Screenshot</key>
					<string>8E6DFC67-2812-4FD0-AE7E-B36FF62283A4</string>
					<key>Timestamp</key>
					<date>2014-02-25T12:08:40Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:FourthFlyer rect:{{169, 350}, {136, 136}}</string>
					<key>Screenshot</key>
					<string>79E7D5A2-A04E-477E-96B4-BD200B9661C3</string>
					<key>Timestamp</key>
					<date>2014-02-25T12:08:40Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAImage: rect:{{169, 350}, {136, 136}}</string>
					<key>Screenshot</key>
					<string>1078C084-5551-43D4-9EDA-EDF1AC48202D</string>
					<key>Timestamp</key>
					<date>2014-02-25T12:08:40Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:Settings rect:{{125, 500}, {71, 69}}</string>
					<key>Screenshot</key>
					<string>FD3D888E-2FB1-4EE6-91D5-85EC37686DD6</string>
					<key>Timestamp</key>
					<date>2014-02-25T12:08:40Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:Facebook rect:{{0, 519}, {79, 49}}</string>
					<key>Screenshot</key>
					<string>C0C8AE89-2FD3-49AD-8EA6-C16C2641E868</string>
					<key>Timestamp</key>
					<date>2014-02-25T12:08:40Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAImage: name:settings_bg.png rect:{{77, 519}, {167, 49}}</string>
					<key>Screenshot</key>
					<string>FD6D5CD9-21CE-4E9F-8140-BC93991ABAE1</string>
					<key>Timestamp</key>
					<date>2014-02-25T12:08:40Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:Twitter rect:{{241, 519}, {79, 49}}</string>
					<key>Screenshot</key>
					<string>D1226C19-278A-479F-89DA-5A858592D9C8</string>
					<key>Timestamp</key>
					<date>2014-02-25T12:08:40Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAImage: name:UINavigationVerticalColumnShadow.png rect:{{311, 0}, {9, 568}}</string>
					<key>Screenshot</key>
					<string>981DA1A4-72E9-4CF8-AA7F-69F4A7F3EE55</string>
					<key>Timestamp</key>
					<date>2014-02-25T12:08:40Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAImage: name:/private/var/mobile/Applications/16816FFA-8AAC-4479-82FE-CB5A2302E385/Documents/riksof.yahoo/Flyr/1393330078/Template/template.jpg rect:{{325, 65}, {310, 310}}</string>
					<key>Timestamp</key>
					<date>2014-02-25T12:08:40Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAImage: rect:{{335, 75}, {90, 70}}</string>
							<key>Timestamp</key>
							<date>2014-02-25T12:08:40Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAImage: rect:{{335, 75}, {90, 70}}</string>
							<key>Timestamp</key>
							<date>2014-02-25T12:08:40Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
					</array>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAImage: name:flat_text_box.png rect:{{359, 69}, {271, 33}}</string>
					<key>Timestamp</key>
					<date>2014-02-25T12:08:40Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIATextField: value:Flyer rect:{{362, 71}, {268, 28}}</string>
					<key>Timestamp</key>
					<date>2014-02-25T12:08:40Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAImage: name:flat_text_box.png rect:{{359, 110}, {271, 74}}</string>
					<key>Timestamp</key>
					<date>2014-02-25T12:08:40Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIATextView: value: rect:{{359, 110}, {271, 74}}</string>
					<key>Timestamp</key>
					<date>2014-02-25T12:08:40Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:Facebook value:1 rect:{{350, 192}, {290, 34}}</string>
					<key>Timestamp</key>
					<date>2014-02-25T12:08:40Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:Twitter value:1 rect:{{350, 227}, {290, 34}}</string>
					<key>Timestamp</key>
					<date>2014-02-25T12:08:40Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:Tumblr rect:{{350, 262}, {290, 34}}</string>
					<key>Timestamp</key>
					<date>2014-02-25T12:08:40Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:Instagram value:1 rect:{{350, 297}, {290, 34}}</string>
					<key>Timestamp</key>
					<date>2014-02-25T12:08:40Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:Flicker rect:{{350, 332}, {290, 34}}</string>
					<key>Timestamp</key>
					<date>2014-02-25T12:08:40Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:Email rect:{{350, 367}, {290, 34}}</string>
					<key>Timestamp</key>
					<date>2014-02-25T12:08:40Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:SMS value:1 rect:{{350, 402}, {290, 34}}</string>
					<key>Timestamp</key>
					<date>2014-02-25T12:08:40Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:Copy value:1 rect:{{350, 437}, {290, 34}}</string>
					<key>Timestamp</key>
					<date>2014-02-25T12:08:40Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAScrollView: rect:{{320, 376}, {320, 130}}</string>
					<key>Timestamp</key>
					<date>2014-02-25T12:08:40Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAButton: rect:{{330, 386}, {55, 40}}</string>
							<key>Timestamp</key>
							<date>2014-02-25T12:08:40Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAButton: rect:{{390, 386}, {55, 40}}</string>
							<key>Timestamp</key>
							<date>2014-02-25T12:08:40Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
					</array>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAImage: rect:{{320, 385}, {320, 44}}</string>
					<key>Timestamp</key>
					<date>2014-02-25T12:08:40Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAImage: rect:{{320, 385}, {320, 44}}</string>
					<key>Timestamp</key>
					<date>2014-02-25T12:08:40Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAImage: rect:{{320, 385}, {320, 44}}</string>
					<key>Timestamp</key>
					<date>2014-02-25T12:08:40Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAImage: rect:{{320, 385}, {320, 44}}</string>
					<key>Timestamp</key>
					<date>2014-02-25T12:08:40Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAImage: rect:{{320, 385}, {320, 44}}</string>
					<key>Timestamp</key>
					<date>2014-02-25T12:08:40Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:Background rect:{{319, 523}, {66, 45}}</string>
					<key>Screenshot</key>
					<string>711AF419-071F-45F9-B19C-431187849FE5</string>
					<key>Timestamp</key>
					<date>2014-02-25T12:08:40Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:Text rect:{{383, 523}, {66, 45}}</string>
					<key>Timestamp</key>
					<date>2014-02-25T12:08:40Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:Photo rect:{{447, 523}, {66, 45}}</string>
					<key>Timestamp</key>
					<date>2014-02-25T12:08:40Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:Symbols value:1 rect:{{511, 523}, {66, 45}}</string>
					<key>Timestamp</key>
					<date>2014-02-25T12:08:40Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:Clipart rect:{{575, 523}, {66, 45}}</string>
					<key>Timestamp</key>
					<date>2014-02-25T12:08:40Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAToolbar: rect:{{0, 568}, {320, 44}}</string>
					<key>Timestamp</key>
					<date>2014-02-25T12:08:40Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAImage: rect:{{0, 568}, {320, 0}}</string>
							<key>Screenshot</key>
							<string>30B58C03-C721-4040-B3AC-58B8BE50E7A7</string>
							<key>Timestamp</key>
							<date>2014-02-25T12:08:40Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAImage: rect:{{0, 568}, {320, 44}}</string>
							<key>Timestamp</key>
							<date>2014-02-25T12:08:40Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
					</array>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAStaticText: rect:{{92, 216}, {136, 30}}</string>
					<key>Screenshot</key>
					<string>10702F96-CCE0-4B80-AA0F-8DEB22DB4EAE</string>
					<key>Timestamp</key>
					<date>2014-02-25T12:08:40Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAActivityIndicator: name:In progress value:1 rect:{{142, 266}, {37, 37}}</string>
					<key>Screenshot</key>
					<string>B0EC488F-7AE0-48A5-B2C7-CAE9BD4E4403</string>
					<key>Timestamp</key>
					<date>2014-02-25T12:08:40Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAStaticText: name:Saving to Flickr value:Saving to Flickr rect:{{92, 319}, {136, 30}}</string>
					<key>Screenshot</key>
					<string>3F69755E-05D2-460E-98B6-A6EE17D8F134</string>
					<key>Timestamp</key>
					<date>2014-02-25T12:08:40Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Found anchor for screen 'Home'</string>
			<key>Timestamp</key>
			<date>2014-02-25T12:08:41Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[21].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-25T12:08:41Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Found anchor for screen 'Settings'</string>
			<key>Timestamp</key>
			<date>2014-02-25T12:08:42Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[1].elements()[3].elements()[0].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-25T12:08:42Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[2].elements()[1].elements()[1].elements()[0].tap()</string>
			<key>Timestamp</key>
			<date>2014-02-25T12:08:43Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
