<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>All Samples</key>
	<array>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.setDeviceOrientation("1")</string>
			<key>Timestamp</key>
			<date>2014-03-04T11:44:03Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Found anchor for screen 'Welcome'</string>
			<key>Timestamp</key>
			<date>2014-03-04T11:44:06Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[2].tap()</string>
			<key>Timestamp</key>
			<date>2014-03-04T11:44:06Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Found anchor for screen 'SignIn'</string>
			<key>Timestamp</key>
			<date>2014-03-04T11:44:07Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[8].tap()</string>
			<key>Timestamp</key>
			<date>2014-03-04T11:44:07Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[4].tap()</string>
			<key>Timestamp</key>
			<date>2014-03-04T11:44:08Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().keyboard().typeString("riksof.yahoo")</string>
			<key>Timestamp</key>
			<date>2014-03-04T11:44:09Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[6].tap()</string>
			<key>Timestamp</key>
			<date>2014-03-04T11:44:10Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().keyboard().typeString("riksof123")</string>
			<key>Timestamp</key>
			<date>2014-03-04T11:44:11Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[7].tap()</string>
			<key>Timestamp</key>
			<date>2014-03-04T11:44:12Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Found anchor for screen 'Home'</string>
			<key>Timestamp</key>
			<date>2014-03-04T11:44:14Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[19].tap()</string>
			<key>Timestamp</key>
			<date>2014-03-04T11:44:14Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Found anchor for screen 'Flyer'</string>
			<key>Timestamp</key>
			<date>2014-03-04T11:44:16Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[19].tap()</string>
			<key>Timestamp</key>
			<date>2014-03-04T11:44:16Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].buttons()[3].tap()</string>
			<key>Timestamp</key>
			<date>2014-03-04T11:44:18Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBars()[0].buttons()[3].tap()</string>
			<key>Timestamp</key>
			<date>2014-03-04T11:44:19Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[20].tap()</string>
			<key>Timestamp</key>
			<date>2014-03-04T11:44:20Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].buttons()[4].tap()</string>
			<key>Timestamp</key>
			<date>2014-03-04T11:44:21Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBars()[0].buttons()[3].tap()</string>
			<key>Timestamp</key>
			<date>2014-03-04T11:44:22Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Screenshot of screen 'flyer' taken with orientation 'Portrait'</string>
			<key>Timestamp</key>
			<date>2014-03-04T11:44:23Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:568.00,width:320.00}}", "01_flyer")</string>
			<key>Timestamp</key>
			<date>2014-03-04T11:44:23Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>01_flyer</string>
			<key>Screenshot</key>
			<string>9FAF8083-04B8-4250-B2F9-5665B3406512</string>
			<key>Timestamp</key>
			<date>2014-03-04T11:44:23Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].buttons()[0].tap()</string>
			<key>Timestamp</key>
			<date>2014-03-04T11:44:24Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBars()[0].buttons()[3].tap()</string>
			<key>Timestamp</key>
			<date>2014-03-04T11:44:25Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Screenshot of screen 'flyer' taken with orientation 'Portrait'</string>
			<key>Timestamp</key>
			<date>2014-03-04T11:44:26Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:568.00,width:320.00}}", "02_flyer")</string>
			<key>Timestamp</key>
			<date>2014-03-04T11:44:26Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>02_flyer</string>
			<key>Screenshot</key>
			<string>1C5B6D4F-76D4-47F9-B71B-2AAD6297481E</string>
			<key>Timestamp</key>
			<date>2014-03-04T11:44:27Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].buttons()[0].tap()</string>
			<key>Timestamp</key>
			<date>2014-03-04T11:44:27Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Screenshot of screen 'flyer' taken with orientation 'Portrait'</string>
			<key>Timestamp</key>
			<date>2014-03-04T11:44:27Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.captureRectWithName("{origin:{x:0.00,y:0.00}, size:{height:568.00,width:320.00}}", "03_flyer")</string>
			<key>Timestamp</key>
			<date>2014-03-04T11:44:27Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Screenshot</string>
			<key>Message</key>
			<string>03_flyer</string>
			<key>Screenshot</key>
			<string>D61AEB7E-015F-408D-AEDC-A3C192882B0F</string>
			<key>Timestamp</key>
			<date>2014-03-04T11:44:27Z</date>
			<key>Type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBars()[0].buttons()[3].tap()</string>
			<key>Timestamp</key>
			<date>2014-03-04T11:44:28Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBars()[0].buttons()[3].tap()</string>
			<key>Timestamp</key>
			<date>2014-03-04T11:44:29Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[6].tap()</string>
			<key>Timestamp</key>
			<date>2014-03-04T11:44:30Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[22].elements()[4].tap()</string>
			<key>Timestamp</key>
			<date>2014-03-04T11:44:32Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[7].tap()</string>
			<key>Timestamp</key>
			<date>2014-03-04T11:44:47Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[22].elements()[3].tap()</string>
			<key>Timestamp</key>
			<date>2014-03-04T11:44:48Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[8].tap()</string>
			<key>Timestamp</key>
			<date>2014-03-04T11:44:49Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[23].elements()[1].tap()</string>
			<key>Timestamp</key>
			<date>2014-03-04T11:44:50Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[9].tap()</string>
			<key>Timestamp</key>
			<date>2014-03-04T11:44:51Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[26].tap()</string>
			<key>Timestamp</key>
			<date>2014-03-04T11:44:52Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[10].tap()</string>
			<key>Timestamp</key>
			<date>2014-03-04T11:44:54Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[24].elements()[3].tap()</string>
			<key>Timestamp</key>
			<date>2014-03-04T11:44:54Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[12].tap()</string>
			<key>Timestamp</key>
			<date>2014-03-04T11:44:55Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[0].elements()[3].tap()</string>
			<key>Timestamp</key>
			<date>2014-03-04T11:44:57Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[13].tap()</string>
			<key>Timestamp</key>
			<date>2014-03-04T11:44:58Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().navigationBars()[0].buttons()[0].tap()</string>
			<key>Timestamp</key>
			<date>2014-03-04T11:44:58Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>UIAWindow: rect:{{0, 0}, {320, 568}}</string>
			<key>Screenshot</key>
			<string>012EAAE9-D045-43AF-91FA-0066B0DD9EDA</string>
			<key>Timestamp</key>
			<date>2014-03-04T11:45:00Z</date>
			<key>Type</key>
			<integer>0</integer>
			<key>children</key>
			<array>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIANavigationBar: name:FlyerlyMainScreen rect:{{0, 20}, {320, 44}}</string>
					<key>Screenshot</key>
					<string>4F8E0A9D-F214-4899-95B6-7A2CF45CB6AD</string>
					<key>Timestamp</key>
					<date>2014-03-04T11:45:00Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAImage: rect:{{0, 0}, {320, 64}}</string>
							<key>Screenshot</key>
							<string>A0C3E8A0-2CA1-4C95-9634-F575A271EFC7</string>
							<key>Timestamp</key>
							<date>2014-03-04T11:45:00Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAImage: rect:{{0, 64}, {320, 0}}</string>
									<key>Screenshot</key>
									<string>EBDE8E32-EEC6-4B30-BB7C-46C80E2712B3</string>
									<key>Timestamp</key>
									<date>2014-03-04T11:45:00Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
							</array>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAButton: name:home button rect:{{16, 21}, {45, 42}}</string>
							<key>Screenshot</key>
							<string>0F5F3D0F-E6F8-4F63-AC13-1562BCA2D561</string>
							<key>Timestamp</key>
							<date>2014-03-04T11:45:00Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAImage: rect:{{-12, -8}, {100, 100}}</string>
									<key>Screenshot</key>
									<string>F6AA250F-2A89-43F2-8DB5-CD1CE4BA0B67</string>
									<key>Timestamp</key>
									<date>2014-03-04T11:45:00Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAImage: name:home_button rect:{{16, 21}, {45, 42}}</string>
									<key>Screenshot</key>
									<string>4BA6736E-81E1-4FAE-9EA4-219ACF8414B1</string>
									<key>Timestamp</key>
									<date>2014-03-04T11:45:00Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
							</array>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAButton: name:help icon rect:{{69, 21}, {45, 42}}</string>
							<key>Screenshot</key>
							<string>5923E3C0-ABF7-4E6A-9FE8-5AE5C0FF95D6</string>
							<key>Timestamp</key>
							<date>2014-03-04T11:45:00Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAImage: rect:{{42, -8}, {100, 100}}</string>
									<key>Screenshot</key>
									<string>53133324-EB93-4D3C-9FF8-8192C58F05DD</string>
									<key>Timestamp</key>
									<date>2014-03-04T11:45:00Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAImage: name:help_icon rect:{{69, 21}, {45, 42}}</string>
									<key>Screenshot</key>
									<string>DC700796-6CCD-4B7D-B8DD-0E46630F87DD</string>
									<key>Timestamp</key>
									<date>2014-03-04T11:45:00Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
							</array>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAButton: name:Back rect:{{98, 21}, {45, 42}}</string>
							<key>Screenshot</key>
							<string>84C42E4E-E5A5-4A14-A54D-A94D96F93B38</string>
							<key>Timestamp</key>
							<date>2014-03-04T11:45:00Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAStaticText: name:Back value:Back rect:{{116, 31}, {26, 22}}</string>
									<key>Screenshot</key>
									<string>A85766BD-14FC-4602-892B-D4B4A18CD5E4</string>
									<key>Timestamp</key>
									<date>2014-03-04T11:45:00Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
							</array>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAImage: name:flyerlylogo rect:{{116, 23}, {87, 38}}</string>
							<key>Screenshot</key>
							<string>3FDBBF0D-FCA2-4A8A-854E-15C6E5E0230E</string>
							<key>Timestamp</key>
							<date>2014-03-04T11:45:00Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAButton: name:undo rect:{{206, 21}, {45, 42}}</string>
							<key>Screenshot</key>
							<string>16CDC8EF-7D96-4509-B03F-A97E5613C32C</string>
							<key>Timestamp</key>
							<date>2014-03-04T11:45:00Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAImage: rect:{{178, -8}, {100, 100}}</string>
									<key>Screenshot</key>
									<string>3D9050A4-8E6C-4229-82CD-8CE4341BA7CB</string>
									<key>Timestamp</key>
									<date>2014-03-04T11:45:00Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAStaticText: rect:{{206, 21}, {0, 0}}</string>
									<key>Timestamp</key>
									<date>2014-03-04T11:45:00Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAImage: name:undo rect:{{206, 21}, {45, 42}}</string>
									<key>Screenshot</key>
									<string>2ED85E4C-7502-42E3-A752-CBFB240A97DB</string>
									<key>Timestamp</key>
									<date>2014-03-04T11:45:00Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
							</array>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAButton: name:share button selected rect:{{259, 21}, {45, 42}}</string>
							<key>Screenshot</key>
							<string>B9C69340-E9F3-4037-B6CD-665D0C350A9A</string>
							<key>Timestamp</key>
							<date>2014-03-04T11:45:00Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAImage: rect:{{232, -8}, {100, 100}}</string>
									<key>Screenshot</key>
									<string>7F052950-5A12-4874-9B40-195F7425FFCA</string>
									<key>Timestamp</key>
									<date>2014-03-04T11:45:00Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAStaticText: rect:{{259, 21}, {0, 0}}</string>
									<key>Timestamp</key>
									<date>2014-03-04T11:45:00Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
								<dict>
									<key>LogType</key>
									<string>Debug</string>
									<key>Message</key>
									<string>UIAImage: name:share_button_selected rect:{{259, 21}, {45, 42}}</string>
									<key>Screenshot</key>
									<string>10498EEB-5BC4-4C25-AB34-BD94E07F5235</string>
									<key>Timestamp</key>
									<date>2014-03-04T11:45:00Z</date>
									<key>Type</key>
									<integer>0</integer>
									<key>children</key>
									<array/>
								</dict>
							</array>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAStaticText: name:Flyerly value:Flyerly rect:{{320, 17}, {60, 50}}</string>
							<key>Timestamp</key>
							<date>2014-03-04T11:45:00Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAButton: name:UINavigationBarBackIndicatorDefault.png rect:{{8, 32}, {12, 20}}</string>
							<key>Screenshot</key>
							<string>68588398-8B2C-4C96-9EB6-108AE776052D</string>
							<key>Timestamp</key>
							<date>2014-03-04T11:45:00Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
					</array>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAImage: name:Zmain_screenbg-568h.png rect:{{0, 0}, {320, 519}}</string>
					<key>Screenshot</key>
					<string>686B059B-535D-465C-B33D-BB4018077BFF</string>
					<key>Timestamp</key>
					<date>2014-03-04T11:45:00Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAImage: name:three_buttons.png rect:{{0, 68}, {320, 61}}</string>
					<key>Screenshot</key>
					<string>DA8EC2B3-35FF-499F-8138-3A9723C0CFED</string>
					<key>Timestamp</key>
					<date>2014-03-04T11:45:00Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:SavedFlyers rect:{{4, 68}, {106, 60}}</string>
					<key>Screenshot</key>
					<string>2BB4FA79-C65F-44B4-A913-31D5265006B6</string>
					<key>Timestamp</key>
					<date>2014-03-04T11:45:00Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:CreateFlyer rect:{{109, 69}, {103, 60}}</string>
					<key>Screenshot</key>
					<string>D1C02F35-BB1A-4C35-BE20-3C6FA3693EA0</string>
					<key>Timestamp</key>
					<date>2014-03-04T11:45:00Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:Invite rect:{{212, 68}, {104, 60}}</string>
					<key>Screenshot</key>
					<string>257CB321-1B75-4E47-A869-EFCC2F0FA21F</string>
					<key>Timestamp</key>
					<date>2014-03-04T11:45:00Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAStaticText: name:Saved value:Saved rect:{{36, 100}, {51, 21}}</string>
					<key>Screenshot</key>
					<string>08C09B7B-21F5-458D-944F-ED3BCC574ADC</string>
					<key>Timestamp</key>
					<date>2014-03-04T11:45:00Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAStaticText: name:Create value:Create rect:{{138, 100}, {59, 21}}</string>
					<key>Screenshot</key>
					<string>7C508D83-FABF-40AF-B9C6-F8F222E63A89</string>
					<key>Timestamp</key>
					<date>2014-03-04T11:45:00Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAStaticText: name:Invite value:Invite rect:{{238, 100}, {51, 21}}</string>
					<key>Screenshot</key>
					<string>74BC5FC0-9725-4104-83E8-29264AA52EBF</string>
					<key>Timestamp</key>
					<date>2014-03-04T11:45:00Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:FirstFlyer rect:{{15, 170}, {136, 136}}</string>
					<key>Screenshot</key>
					<string>C99410D4-DA72-4697-9D35-7B43E33FB039</string>
					<key>Timestamp</key>
					<date>2014-03-04T11:45:00Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAImage: rect:{{15, 170}, {136, 136}}</string>
					<key>Screenshot</key>
					<string>4D1ADE81-7734-4750-8765-CF906DF84B24</string>
					<key>Timestamp</key>
					<date>2014-03-04T11:45:00Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAImage: rect:{{168, 170}, {136, 136}}</string>
					<key>Screenshot</key>
					<string>EF9DDF89-C08D-40C9-B736-3BC5D56451CC</string>
					<key>Timestamp</key>
					<date>2014-03-04T11:45:00Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:SecondFlyer rect:{{169, 170}, {136, 136}}</string>
					<key>Screenshot</key>
					<string>C9A6AA31-BFE5-46B5-A15C-5415794E7FEA</string>
					<key>Timestamp</key>
					<date>2014-03-04T11:45:00Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAImage: name:likealertbg.png rect:{{52, 260}, {215, 110}}</string>
					<key>Screenshot</key>
					<string>148B6385-A884-41E5-8B99-6FFDE7B8ECD4</string>
					<key>Timestamp</key>
					<date>2014-03-04T11:45:00Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAStaticText: name:                 flyerly page on facebook to keep up with the latest on the app. value:                 flyerly page on facebook to keep up with the latest on the app. rect:{{61, 260}, {198, 68}}</string>
					<key>Screenshot</key>
					<string>484AF0B0-ED4F-4E83-A257-096AABEB0D81</string>
					<key>Timestamp</key>
					<date>2014-03-04T11:45:00Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAElement: name:FacebookLikeInPopup rect:{{60, 276}, {46, 17}}</string>
					<key>Screenshot</key>
					<string>A5B30D56-1B9A-4A0C-848F-4CFBA9528659</string>
					<key>Timestamp</key>
					<date>2014-03-04T11:45:00Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:FacebookClose rect:{{132, 327}, {55, 25}}</string>
					<key>Screenshot</key>
					<string>B1DC8405-D1F0-4E7C-ACA1-9168BBCA1125</string>
					<key>Timestamp</key>
					<date>2014-03-04T11:45:00Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAImage: name:likealertclose.png rect:{{132, 327}, {55, 25}}</string>
							<key>Screenshot</key>
							<string>A0C8C66E-E158-4051-8509-19E03FC62E7A</string>
							<key>Timestamp</key>
							<date>2014-03-04T11:45:00Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
					</array>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:ThirdFlyer rect:{{15, 350}, {136, 136}}</string>
					<key>Screenshot</key>
					<string>C1F409F4-6FD2-4FCA-9804-80938D41A044</string>
					<key>Timestamp</key>
					<date>2014-03-04T11:45:00Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAImage: rect:{{15, 350}, {136, 136}}</string>
					<key>Screenshot</key>
					<string>95A1D282-61E7-463D-A111-0A1C77672B67</string>
					<key>Timestamp</key>
					<date>2014-03-04T11:45:00Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:FourthFlyer rect:{{169, 350}, {136, 136}}</string>
					<key>Screenshot</key>
					<string>4D835279-10FF-4E4A-B8DC-5FE9E1282D73</string>
					<key>Timestamp</key>
					<date>2014-03-04T11:45:00Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAImage: rect:{{169, 350}, {136, 136}}</string>
					<key>Screenshot</key>
					<string>9D4C7F49-C81D-4790-81A6-3232F5D6D57E</string>
					<key>Timestamp</key>
					<date>2014-03-04T11:45:00Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:Settings rect:{{125, 500}, {71, 69}}</string>
					<key>Screenshot</key>
					<string>89E5AF37-09E1-4106-91E9-7A5E5D335077</string>
					<key>Timestamp</key>
					<date>2014-03-04T11:45:00Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAImage: name:UINavigationVerticalColumnShadow.png rect:{{311, 0}, {9, 568}}</string>
					<key>Screenshot</key>
					<string>9F089DB9-D402-4FD5-8D47-7A43E9D832E1</string>
					<key>Timestamp</key>
					<date>2014-03-04T11:45:00Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAImage: name:/private/var/mobile/Applications/B840A7C1-E04B-4AED-8E56-CC6108C5DDDD/Documents/riksof.yahoo/Flyr/1393933454/Template/template.jpg rect:{{325, 65}, {310, 310}}</string>
					<key>Timestamp</key>
					<date>2014-03-04T11:45:00Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAImage: rect:{{335, 75}, {90, 70}}</string>
							<key>Timestamp</key>
							<date>2014-03-04T11:45:00Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAImage: rect:{{335, 75}, {90, 70}}</string>
							<key>Timestamp</key>
							<date>2014-03-04T11:45:00Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
					</array>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAImage: name:flat_text_box.png rect:{{359, 69}, {271, 33}}</string>
					<key>Timestamp</key>
					<date>2014-03-04T11:45:00Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIATextField: value:Flyerly rect:{{362, 71}, {268, 28}}</string>
					<key>Timestamp</key>
					<date>2014-03-04T11:45:00Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAImage: name:flat_text_box.png rect:{{359, 110}, {271, 74}}</string>
					<key>Timestamp</key>
					<date>2014-03-04T11:45:00Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIATextView: value: rect:{{359, 110}, {271, 74}}</string>
					<key>Timestamp</key>
					<date>2014-03-04T11:45:00Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:Facebook value:1 rect:{{350, 192}, {290, 34}}</string>
					<key>Timestamp</key>
					<date>2014-03-04T11:45:00Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:Twitter value:1 rect:{{350, 227}, {290, 34}}</string>
					<key>Timestamp</key>
					<date>2014-03-04T11:45:00Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:Tumblr rect:{{350, 262}, {290, 34}}</string>
					<key>Timestamp</key>
					<date>2014-03-04T11:45:00Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:Instagram value:1 rect:{{350, 297}, {290, 34}}</string>
					<key>Timestamp</key>
					<date>2014-03-04T11:45:00Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:Flicker value:1 rect:{{350, 332}, {290, 34}}</string>
					<key>Timestamp</key>
					<date>2014-03-04T11:45:00Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:Email rect:{{350, 367}, {290, 34}}</string>
					<key>Timestamp</key>
					<date>2014-03-04T11:45:00Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:SMS rect:{{350, 402}, {290, 34}}</string>
					<key>Timestamp</key>
					<date>2014-03-04T11:45:00Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:Copy value:1 rect:{{350, 437}, {290, 34}}</string>
					<key>Timestamp</key>
					<date>2014-03-04T11:45:00Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAScrollView: rect:{{320, 376}, {320, 130}}</string>
					<key>Timestamp</key>
					<date>2014-03-04T11:45:00Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAButton: rect:{{330, 386}, {55, 40}}</string>
							<key>Timestamp</key>
							<date>2014-03-04T11:45:00Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAButton: rect:{{390, 386}, {55, 40}}</string>
							<key>Timestamp</key>
							<date>2014-03-04T11:45:00Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAImage: rect:{{635, 378}, {2, 36}}</string>
							<key>Timestamp</key>
							<date>2014-03-04T11:45:00Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAImage: rect:{{633, 504}, {7, 2}}</string>
							<key>Timestamp</key>
							<date>2014-03-04T11:45:00Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
					</array>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAImage: rect:{{320, 385}, {320, 44}}</string>
					<key>Timestamp</key>
					<date>2014-03-04T11:45:00Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAImage: rect:{{320, 385}, {320, 44}}</string>
					<key>Timestamp</key>
					<date>2014-03-04T11:45:00Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAImage: rect:{{320, 385}, {320, 44}}</string>
					<key>Timestamp</key>
					<date>2014-03-04T11:45:00Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAImage: rect:{{320, 385}, {320, 44}}</string>
					<key>Timestamp</key>
					<date>2014-03-04T11:45:00Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAImage: rect:{{320, 385}, {320, 44}}</string>
					<key>Timestamp</key>
					<date>2014-03-04T11:45:00Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:Background rect:{{319, 523}, {66, 45}}</string>
					<key>Screenshot</key>
					<string>79D78410-DC17-405D-BCBB-C7AFB22C1893</string>
					<key>Timestamp</key>
					<date>2014-03-04T11:45:00Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:Text rect:{{383, 523}, {66, 45}}</string>
					<key>Timestamp</key>
					<date>2014-03-04T11:45:00Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:Photo rect:{{447, 523}, {66, 45}}</string>
					<key>Timestamp</key>
					<date>2014-03-04T11:45:00Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:Symbols value:1 rect:{{511, 523}, {66, 45}}</string>
					<key>Timestamp</key>
					<date>2014-03-04T11:45:00Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAButton: name:Clipart rect:{{575, 523}, {66, 45}}</string>
					<key>Timestamp</key>
					<date>2014-03-04T11:45:00Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAToolbar: rect:{{0, 568}, {320, 44}}</string>
					<key>Timestamp</key>
					<date>2014-03-04T11:45:00Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAImage: rect:{{0, 568}, {320, 0}}</string>
							<key>Screenshot</key>
							<string>2271991B-C4B9-4A9D-8D10-2CFE5B9E20BD</string>
							<key>Timestamp</key>
							<date>2014-03-04T11:45:00Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
						<dict>
							<key>LogType</key>
							<string>Debug</string>
							<key>Message</key>
							<string>UIAImage: rect:{{0, 568}, {320, 44}}</string>
							<key>Timestamp</key>
							<date>2014-03-04T11:45:00Z</date>
							<key>Type</key>
							<integer>0</integer>
							<key>children</key>
							<array/>
						</dict>
					</array>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAStaticText: rect:{{92, 216}, {136, 30}}</string>
					<key>Screenshot</key>
					<string>8039A228-3424-4039-8DD8-075F31626174</string>
					<key>Timestamp</key>
					<date>2014-03-04T11:45:00Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAStaticText: name:✓ value:✓ rect:{{92, 259}, {136, 50}}</string>
					<key>Screenshot</key>
					<string>8359B7E8-1525-49B3-A122-73FC1F430FC0</string>
					<key>Timestamp</key>
					<date>2014-03-04T11:45:00Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
				<dict>
					<key>LogType</key>
					<string>Debug</string>
					<key>Message</key>
					<string>UIAStaticText: name:Saved! value:Saved! rect:{{92, 319}, {136, 30}}</string>
					<key>Screenshot</key>
					<string>C8AC80D3-6267-4C9E-9E0E-5A0BF6C51A61</string>
					<key>Timestamp</key>
					<date>2014-03-04T11:45:00Z</date>
					<key>Type</key>
					<integer>0</integer>
					<key>children</key>
					<array/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Found anchor for screen 'Home'</string>
			<key>Timestamp</key>
			<date>2014-03-04T11:45:00Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[21].tap()</string>
			<key>Timestamp</key>
			<date>2014-03-04T11:45:00Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Found anchor for screen 'Settings'</string>
			<key>Timestamp</key>
			<date>2014-03-04T11:45:00Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[0].elements()[23].elements()[2].elements()[0].tap()</string>
			<key>Timestamp</key>
			<date>2014-03-04T11:45:00Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().elements()[2].elements()[1].elements()[1].elements()[0].tap()</string>
			<key>Timestamp</key>
			<date>2014-03-04T11:45:03Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
